

  /* =Application
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */


  /* =Buttons
  ----------------------------------------------- */
  button,
  .action a {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    color: rgb(255, 49, 102); /* @strawberry */
    padding: 0.375em 1.125em;
    line-height: 1.5em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
    text-transform: lowercase;
  }
  button:active,
  button:focus {
    color: rgb(193, 16, 65); /* @raspberry */
  }
  .action a {
    display: inline-block;
    text-decoration: none;
  }
  .submit button,
  .action a,
  .action button,
  .push > header button {
    background-color: rgb(255, 49, 102); /* @strawberry */
    color: white;
  }
  .submit button:active,
  .submit button:focus,
  .action a:active,
  .action a:focus,
  .action button:active,
  .action button:focus,
  .push > header button:active,
  .push > header button:focus {
    background-color: rgb(193, 16, 65); /* @raspberry */
    color: white;
  }
  .warning button {
    color: rgb(255, 102, 102); /* @peach */
  }
  .warning button:active,
  .warning button:focus {
    color: rgb(255, 49, 59); /* @apple */
  }
  .submit.warning button {
    background-color: rgb(255, 102, 102); /* @peach */
    color: white;
  }
  .submit.warning button:active,
  .submit.warning button:focus {
    background-color: rgb(255, 49, 59); /* @apple */
    color: white;
  }

  button:disabled {
    background-color: rgb(122, 122, 122);
    color: white;
    opacity: 0.5;
    cursor: default;
  }


  /* =Forms
  ----------------------------------------------- */
  label {
    text-transform: lowercase;
  }
  p.text label {
    background: white;
    border: 0.1em solid rgb(222, 222, 222); /* @silver*/
    display: block;
    border-radius: 0.25em;
    margin-left: -1.25em;
    margin-right: -1.25em;
    padding-left: 1.25em;
    padding-right: 1.75em;
    padding-top: 0.1875em;
    padding-bottom: 0.1875em;
    position: relative;
  }
  p.error label {
    border-color: rgb(255, 49, 59); /* @apple */
  }
  p.error   label:after,
  p.success label:after {
    content: "";
    position: absolute;
    right: 0.25em;
    top: 0;
    width: 1.5em;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  p.error label:after {
    /* Data URI encoded from: apple/close.svg */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij4NCjxwb2x5Z29uIGZpbGw9InJnYigyNTUsIDQ5LCA1OSkiIHBvaW50cz0iMjQsMi40IDIxLjYsMCAxMiw5LjYgMi40LDAgMCwyLjQgOS42LDEyIDAsMjEuNiAyLjQsMjQgMTIsMTQuNCAyMS42LDI0IDI0LDIxLjYgMTQuNCwxMiAiLz4NCjwvc3ZnPg0K);
    background-size: 1em auto;
  }
  p.success label:after {
    /* Data URI encoded from: clover/checkmark.svg */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9InJnYigxMDIsIDIwNCwgMCkiIGQ9Ik05LjQzMSwxOC42MjZsLTUuNTg1LTUuOTI0QzMuMjc3LDEyLjEsMy4zMDUsMTEuMTUsMy45MDgsMTAuNTgyYzAuNjA0LTAuNTY5LDEuNTU0LTAuNTQsMi4xMjEsMC4wNjJsMy40NjYsMy42NzYNCglsOC41MDctOC41MDdjMC41ODYtMC41ODYsMS41MzUtMC41ODYsMi4xMjEsMGMwLjU4NiwwLjU4NSwwLjU4NiwxLjUzNiwwLDIuMTIxTDkuNDMxLDE4LjYyNnoiLz4NCjwvc3ZnPg0K);
  }

  p.disabled label {
    /* Data URI encoded from: snow/zebra.svg */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNzJweCIgaGVpZ2h0PSI4NHB4IiB2aWV3Qm94PSIwIDAgNzIgODQiPg0KPHJlY3QgZmlsbD0icmdiKDI1MywgMjUzLCAyNTMpIiB4PSIyMC42NDkiIHk9Ii00Ny43OTQiIHRyYW5zZm9ybT0ibWF0cml4KDAuOTE1OCAwLjQwMTcgLTAuNDAxNyAwLjkxNTggMTkuNTY2NyAtMTEuMDg2NikiIHdpZHRoPSIzMS4xNDEiIGhlaWdodD0iMTc3LjgxNSIvPg0KPC9zdmc+DQo=);
    background-size: auto 100%;
    background-repeat: repeat-x;
  }

  form.has-icon p.text label {
    padding-left: 3em;
  }
  @media (max-width: 34.25em) {
    p.text {
      margin-bottom: 0;
    }
    p.text + p.text {
      margin-top: 0;
    }
    p.text + p.text label {
      border-top-width: 0;
    }
    p.text label {
      border-left-width: 0;
      border-right-width: 0;
      border-radius: 0;
    }
  }

  form p.submit {
    text-align: right;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  textarea {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    padding: 0.375em 0.75em;
    line-height: 1.5;
    box-sizing: border-box;
    transition: border-color 0.2s;
    border-width: 0;
    display: inline-block;
  }
  textarea {
    display: block;
  }
  input[type="text"]:disabled {
    background-color: transparent;
    color: rgb(153, 153, 153); /* @nickel */

    /* TRICKY: WebKit doesn’t appear to respect the usual “color” attribute, if the field is disabled:
    http://stackoverflow.com/questions/262158/disabled-input-text-color */
    -webkit-text-fill-color: rgb(153, 153, 153); /* @nickel */
  }
  form p + p {
    margin-top: 0.75em;
  }
  form .note {
    display: block;
    text-align: right;
    font-style: italic;
    font-size: 0.875em;
    margin-top: 0.75em;
    color: rgb(153, 153, 153); /* @nickel */
  }

  .text label span:first-child {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }

  .text label .icon:first-child {
    opacity: 0.25;
    position: absolute;
    left: auto;
    margin-left: -2.25em;
    margin-top: 0.25em;
    width: 1.875em;
    height: 1.875em;
  }
  .disabled label .icon:first-child {
    opacity: 0.1;
  }

  label br {
    display: none;
  }

  ::-webkit-input-placeholder {
    text-transform: lowercase;
    color: rgb(102, 102, 102); /* @tin */
  }
  ::-moz-placeholder {
    text-transform: lowercase;
    color: rgb(102, 102, 102); /* @tin */
  }
  :-ms-input-placeholder {
    text-transform: lowercase;
    color: rgb(102, 102, 102); /* @tin */
  }

  input[disabled]::-webkit-input-placeholder {
    color: rgb(204, 204, 204); /* @aluminum */
  }
  input[disabled]::-moz-placeholder {
    color: rgb(204, 204, 204); /* @aluminum */
  }
  input[disabled]:-ms-input-placeholder {
    color: rgb(204, 204, 204); /* @aluminum */
  }


  /* =Image Upload Preview
  ----------------------------------------------- */

  .img-preview-rotate-90 {
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  }

  .img-preview-rotate-180 {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }

  .img-preview-rotate-270 {
    -webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
         -o-transform: rotate(270deg);
            transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  .img-preview-flip-horizontal {
    -webkit-transform: scale(-1, 1);
       -moz-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
         -o-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }

  .img-preview-flip-vertical {
    -webkit-transform: scale(1, -1);
       -moz-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
         -o-transform: scale(1, -1);
            transform: scale(1, -1);
  }


  /* =Loading Screen
  ----------------------------------------------- */
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .developer.action {
    position: fixed;
    top: 50%;
    left: 0.375em;
    height: 6em;
    margin-top: -3em;
    z-index: 9999;
  }
  .developer.action a {
    background-color: black;
    padding: 0.375em;
  }

  section.developer-tools,
  section.loading {
    margin: 0;
    background: black;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
  }
  section.developer-tools {
    padding: 1.5em;
    box-sizing: border-box;
    position: fixed;
    overflow-y: scroll;

    /* http://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements */
    -webkit-overflow-scrolling: touch;
  }
  section.loading {
    display: table;
    text-align: center;
  }
  section.developer-tools dt:after {
    content: ":";
  }
  section.developer-tools dd {
    margin-left: 0;
    padding-left: 0;
  }
  section.developer-tools dd + dt {
    margin-top: 0.75em;
  }
  section.developer-tools label br {
    display: block;
  }
  section.developer-tools input[type="number"] {
    width: 7em;
  }
  section.developer-tools select {
    font-size: inherit;
  }
  section.developer-tools h1 {
    margin-top: 2em;
    font-size: 2em;
  }
  section.developer-tools h2,
  section.developer-tools ul.action {
    margin-top: 1.5em;
  }
  section.developer-tools ul.action,
  section.developer-tools ul.action li,
  section.developer-tools ul.logs,
  section.developer-tools ul.logs li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  section.developer-tools ul.action li + li {
    margin-top: 0.75em;
  }
  section.developer-tools ul.logs   li + li {
    margin-top: 1.5em;
  }
  section.developer-tools pre,
  section.developer-tools ul.logs {
    background: white;
    color: black;
    margin-left: -1.5em;
    margin-right: -1.5em;
    padding: 1.5em;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  }
  section.developer-tools ul.logs li {
    /* @wrap-long-words */
    word-wrap     : break-word;
    overflow-wrap : break-word;
  }
  section.developer-tools ul.logs time {
    opacity: 0.5;
    display: block;
  }
  section.developer-tools .action:last-child {
    margin-top: 3em;
  }
  section.loading.error {
    -webkit-animation-name: none;
            animation-name: none;
    position: fixed;
  }
  section.loading.has-details {
    display: block;
    overflow: scroll;
  }
  section.loading.inactive {
    opacity: 0;
  }
  section.loading > div {
    display: table-row;
  }
  section.loading > div > div {
    display: table-cell;
    padding: 3em 1.5em;
    vertical-align: middle;
  }
  section.loading h1 {
    font-size: inherit;
    display: inline;
  }
  section.loading h1 svg {
    margin-bottom: 1.5em;
  }
  section.loading h1 + p:before {
    content: " — ";
  }
  section.loading p {
    display: inline;
  }
  section.loading a {
    color: inherit;
  }
  section.loading .loading-icon + .message {
    margin-left: 0.375em;
  }
  section.loading section {
    margin-top: 3em;
    text-align: left;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  section.loading section h2 {
    font-size: inherit;
    font-weight: normal;
  }
  section.loading .action {
    margin-top: 1.5em;
    display: block;
  }
  section.developer-tools .close,
  section.loading .close {
    position: absolute;
    top: 0.375em;
    right: 0;
    color: inherit;
    font-size: 1.25em;
  }


  /* =Loading/Error Message (for “in situ” messages that we show when content hasn’t loaded yet, or has failed to load)
  ----------------------------------------------- */
    .error-message,
  .loading-message {
    color: rgb(255, 255, 255); /* @snow */
    background: rgb(0, 0, 0); /* @midnight */
    text-align: center;
    padding: 1.5em;
  }
    .error-message h1,
  .loading-message h1 {
    font-size: inherit !important; /* SHIM: This is !important to override the .page h1 style
                                            which happens to come later… */
  }
    .error-message a,
  .loading-message a {
    color: inherit;
  }


  /* =Validation Message
  ----------------------------------------------- */
  form .validation-message {
    color: red;
  }


  /* =Empty Message
  ----------------------------------------------- */
  .empty-message {
    text-align: center;
    padding: 1.5em;
    margin: 1.5em 0;
  }
  .empty-message ul,
  .empty-message li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .empty-message li + li {
    margin-top: 0.75em;
  }

  /* SHIM: Make the buttons line up in the empty push message. */
  .empty-message a {
    min-width: 12em;
  }





  /* =Upload Message
  ----------------------------------------------- */
  section.upload-message {
    padding: 0.625em 1.5em;
    box-sizing: border-box;
    border-bottom: 0.1em solid rgb(222, 222, 222); /* @silver*/
    line-height: 1.3333333333; /* @line-height / 1.125em */
    position: relative;
  }

  /* SHIM: Give the fixed header more space so it’s less likely to overlap the message. */
  .page > header + section.upload-message {
    margin-top: 1.5em;
  }

  /* On the post page, the upload message appears after the related content. */
  .comments section.upload-message {
    border-bottom-width: 0;
    border-top: 0.1em solid rgb(222, 222, 222); /* @silver*/
    margin-left: -1.25em;
    margin-right: -1.25em;
  }

  .upload-message.error {
    background-color: rgb(255, 49, 59); /* @apple */
    color: white;
  }
  .upload-message.error a,
  .upload-message.error button {
    color: inherit;
  }
  section.upload-message:last-child {
    border-bottom-width: 0;
  }
  section.upload-message img {
    vertical-align: middle;
    margin-right: 0.25em;
  }
  section.upload-message h1 {
    margin: 0 3.5em 0 0;
    font-size: 1.125em;
    font-weight: inherit;
  }
  section.upload-message p {
    margin: 0;
  }
  section.upload-message ul,
  section.upload-message li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  section.upload-message ul {
    position: absolute;
    top: 0.375em;
    right: 0.875em;
    margin: 0;
  }
  section.upload-message li {
    display: inline;
  }
  section.upload-message button {
    padding: 0.375em;
  }


  /* =Confirmation Message
  ----------------------------------------------- */
  section.confirmation-message {
    padding: 1.5em;
  }
  section.confirmation-message h1 {
    font-size: inherit;
    display: inline;
  }
  section.confirmation-message h1 + p:before {
    content: " — ";
  }
  section.confirmation-message p {
    display: inline;
  }
  section.confirmation-message .action {
    display: block;
    margin-top: 1.5em;
  }


  /* =Loading Icon
  ----------------------------------------------- */

  @-webkit-keyframes blink {
    0% {
      background-color: rgb(222, 222, 222); /* @silver*/
    }
    66% {
      background-color: rgb(255, 49, 102); /* @strawberry */
    }
    100% {
      background-color: rgb(255, 49, 102); /* @strawberry */
    }
  }


  @keyframes blink {
    0% {
      background-color: rgb(222, 222, 222); /* @silver*/
    }
    66% {
      background-color: rgb(255, 49, 102); /* @strawberry */
    }
    100% {
      background-color: rgb(255, 49, 102); /* @strawberry */
    }
  }

  span.icon.loading,
  span.icon.loading:before,
  span.icon.loading:after {
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(222, 222, 222); /* @silver*/
    width  : 0.6111111111em; /* 11px / 18px */
    height : 0.6111111111em;
    border-radius: 100%;
    -webkit-animation : blink 0.6s -0.2s infinite steps(1, end);
            animation : blink 0.6s -0.2s infinite steps(1, end);
  }
  span.icon.loading {
    margin-left: 0.375em;
    text-indent: 0;
    overflow: visible;
    position: relative;
  }
  button span.icon.loading {
    margin-right: 2em;
    margin-left: 0;
  }
  span.icon.loading:before,
  span.icon.loading:after {
    content: "";
    position: absolute;
    top: auto;
  }
  span.icon.loading:before {
    left: 1em;
    -webkit-animation : blink 0.6s 0s infinite steps(1, end);
            animation : blink 0.6s 0s infinite steps(1, end);
  }
  span.icon.loading:after {
    left: 2em;
    -webkit-animation : blink 0.6s 0.2s infinite steps(1, end);
            animation : blink 0.6s 0.2s infinite steps(1, end);
  }


  /* =Loading Icon (Circles)
  ----------------------------------------------- */

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .loading-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .loading-icon:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 1.75em;
    height: 1.75em;
    border: 0.1875em solid;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation : spin 1.3s infinite linear;
            animation : spin 1.3s infinite linear;
    -moz-box-sizing : border-box;
         box-sizing : border-box;
  }
  .loading-icon:after {
    content: "";
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0.375em;
    left: 0.375em;
    border: 0.1875em solid;
    border-left-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-animation : spin 2s infinite linear;
            animation : spin 2s infinite linear;
    -moz-box-sizing : border-box;
         box-sizing : border-box;
  }

  .mix-list .mix-error   > span,
  .mix-list .mix-loading > span {
    display: block;
    position: relative;
    background: black;
    color: white;
    width: 95%; /* image size / @font-size (125px / 16px) */
    height: 95%;
    min-width: 100px;
    min-height: 100px;
    margin: 2.5%;
    box-sizing: border-box;
  }
  .mix-list .mix-error > span {
    background: rgb(255, 49, 59); /* @apple */
    padding: 0.375em 0.75em;
  }
  .mix-list .mix-loading .loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.875em;
    margin-left: -0.875em;
  }
  .mix-list .mix-loading .text {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }



  /* =Message
  ----------------------------------------------- */
  section.message {
    background-color: white;
    color: rgb(51, 51, 51); /* @iron */
    font-weight: bold;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.375);
    z-index: 9999; /* @infinity */
    width: 100%;
    padding: 0.75em 1.5em;
    box-sizing: border-box;
    position: absolute;
    left: -9999px;

    transition: -webkit-transform 0.3s;
    transition:         transform 0.3s;

    -webkit-transform: translateY(30em);
            transform: translateY(30em);
  }
  section.message.active {
    position: fixed;
    bottom: 0;
    left: 0;
    max-height: 50%;
    overflow-y: scroll;

    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  section.message > div {
    max-width: 31.25em;
    margin: 0 auto;
  }
  section.message .error {
    color: rgb(255, 102, 102); /* @peach */
  }

