
  /* =Avatar
  ----------------------------------------------- */
  .avatar img,
  img.avatar {
    border-radius: 100%;
    vertical-align: middle;
  }


  /* =Avatars
  ----------------------------------------------- */
  .avatar > span {
    display: inline-block;
    background: rgb(203, 253, 128); /* @lime */
    color: black;
    width       : 1.5em;
    line-height : 1.5em;
    border-radius: 100%;
    vertical-align: middle;
  }

  .avatar .clover {
    background-color: rgb(0, 235, 98); /* @clover */
  }
  .avatar .kiwi {
    background-color: rgb(0, 255, 208); /* @kiwi */
  }
  .avatar .grape {
    background-color: rgb(159, 104, 246); /* @grape */
  }
  .avatar .bluebird {
    background-color: rgb(0, 206,250); /* @bluebird */
  }
  .avatar .cantaloupe {
    background-color: rgb(255, 203, 117); /* @cantaloupe */
  }
  .avatar .cranberry {
    background-color: rgb(251, 59, 147); /* @cranberry */
  }
  .avatar .amethyst {
    background-color: rgb(255, 152, 248); /* @amethyst */
  }
  .avatar .sky {
    background-color: rgb(0, 255, 254); /* @sky */
  }
  .avatar .ocean {
    background-color: rgb(24, 57, 245); /* @ocean */
    color: white;
  }

  .avatar .size30 {
    font-size: 1.25em; /* 2/3 x 30px / @font-size */
  }
  .avatar .size35 {
    font-size: 1.4583333333em; /* 2/3 x 35px / @font-size */
  }
  .avatar .size100 {
    font-size: 4.1666666667em; /* 2/3 x 30px / @font-size */
  }
  .avatar img[width="30"] {
    width: 1.875em;
    height: 1.875em;
  }

  .avatar [data-content]:after {
    display: block;
    content: attr(data-content);
    speak: none;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.75;
  }

  .avatar .name {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }


  /* =Push Avatars
  ----------------------------------------------- */
  .avatar .lime {
    background-color: rgb(203, 253, 128); /* @lime */
    color: black;
  }
  .avatar .cucumber {
    background-color: rgb(150, 254, 166); /* @cucumber */
    color: black;
  }
  .avatar .blueberry {
    background-color: rgb(99, 204, 203); /* @blueberry */
    color: white;
  }
  .avatar .boysenberry {
    background-color: rgb(101, 156, 247); /* @boysenberry */
    color: white;
  }
  .avatar .plumb {
    background-color: rgb(193, 77, 166); /* @plumb */
    color: white;
  }
  .avatar .strawberry {
    background-color: rgb(255, 49, 102); /* @strawberry */
    color: white;
  }
  .avatar .apple {
    background-color: rgb(255, 49, 59); /* @apple */
    color: white;
  }
  .avatar .tangerine {
    background-color: rgb(255, 202, 72); /* @tangerine */
    color: white;
  }
  .avatar .orange {
    background-color: rgb(242, 64, 41); /* @orange */
    color: white;
  }

  /* OPTIONAL: Give push avatars a square shape */
  .avatar .lime,
  .avatar .cucumber,
  .avatar .blueberry,
  .avatar .boysenberry,
  .avatar .plumb,
  .avatar .strawberry,
  .avatar .apple,
  .avatar .tangerine,
  .avatar .orange {
    border-radius: 0;
  }
