
  /* =Buttons
  ----------------------------------------------- */
  button,
  .action a {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    color: rgb(255, 49, 102); /* @strawberry */
    padding: 0.375em 1.125em;
    line-height: 1.5em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
    text-transform: lowercase;
  }
  button:active,
  button:focus {
    color: rgb(193, 16, 65); /* @raspberry */
  }
  .action a {
    display: inline-block;
    text-decoration: none;
  }
  .submit button,
  .action a,
  .action button,
  .push > header button {
    background-color: rgb(255, 49, 102); /* @strawberry */
    color: white;
  }
  .submit button:active,
  .submit button:focus,
  .action a:active,
  .action a:focus,
  .action button:active,
  .action button:focus,
  .push > header button:active,
  .push > header button:focus {
    background-color: rgb(193, 16, 65); /* @raspberry */
    color: white;
  }
  .warning button {
    color: rgb(255, 102, 102); /* @peach */
  }
  .warning button:active,
  .warning button:focus {
    color: rgb(255, 49, 59); /* @apple */
  }
  .submit.warning button {
    background-color: rgb(255, 102, 102); /* @peach */
    color: white;
  }
  .submit.warning button:active,
  .submit.warning button:focus {
    background-color: rgb(255, 49, 59); /* @apple */
    color: white;
  }

  button:disabled {
    background-color: rgb(122, 122, 122);
    color: white;
    opacity: 0.5;
    cursor: default;
  }
