
  /* =Elements
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */

  html, body {
    height: 100%;
  }
  body {
    font: 100%/1.5 "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(51, 51, 51); /* @iron */
    color: white;
  }

  a {
    color: rgb(255, 49, 102); /* @strawberry */
    transition: opacity 0.2s, color 0.2s, background-color 0.2s;
  }
  a:active,
  a:focus {
    color: rgb(193, 16, 65); /* @raspberry */
  }
  a img {
    border-width: 0;
  }


  /* =Type
  ----------------------------------------------- */

  h1, h2, h3, h4, h5, h6 {
    margin-top    : 1.5em;  /* @line-height */
    margin-bottom : 0.75em; /* @line-height / 2 */
  }
  p, ol, ul, dl {
    margin-top    : 0.75em; /* @line-height / 2 */
    margin-bottom : 0.75em;
  }

  h1 {
    font-size     : 3em;       /* 48px / @font-size */
    line-height   : 1.25em;    /* 60px / 48px */
    margin-top    : 1.25em;
    margin-bottom : 0.625em;   /* 1.25em / 2 */
  }
  h2 {
    font-size     : 1.875em;   /* 30px / @font-size */
    line-height   : 1.2em;     /* 36px / 30px  */
    margin-top    : 1.2em;
    margin-bottom : 0.6em;     /* 1.2em / 2 */
  }
  h3 {
    font-size     : 1.5em;     /* 24px / @font-size */
  }
  h4, h5, h6 {
    font-size: inherit;
  }

  /* OPTIONAL: Increase the font size on big screens. */
  @media (min-width: 600px) and (min-height: 600px) {
    body {
      font-size: 112.5%;
    }
  }
  @media (min-width: 800px) and (min-height: 800px) {
    body {
      font-size: 125%;
    }
  }
  @media (min-width: 1000px) and (min-height: 1000px) {
    body {
      font-size: 137.5%;
    }
  }
  @media (min-width: 1200px) and (min-height: 1200px) {
    body {
      font-size: 150%;
    }
  }

  /*
  @media (min-width: 1000px) {
    .primary,
    section.switch,
    section.push,
    section.page {
      font-size: 2vw;
    }
  }
  */
