
  /* =Headers
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */


  /* =Page Header
  ----------------------------------------------- */
  .page > header {
    text-align: center;
    padding: 0.75em;
    box-sizing: border-box;
    background-color: rgb(51, 51, 51); /* @iron */
    color: white;
    border-bottom: 0.1em solid rgb(51, 51, 51); /* @iron */
  }
  .page > header h1 {
    margin: 0;
    font-weight: inherit;
    text-transform: lowercase;
  }
  .page > header a {
    color: rgb(204, 204, 204); /* @aluminum */
  }
  .page > header a:active,
  .page > header a:focus {
    color: white;
  }
  .page > header .next,
  .page > header .back,
  .page > header .cancel {
    position: absolute;
    top: 0;
    padding: 0.75em;
    border: 0 solid rgb(44, 44, 44); /* @thorium */
  }
  .page > header .next {
    right: 0;
    border-left-width: 0.1em;
  }
  .page > header .back,
  .page > header .cancel {
    left: 0;
    border-right-width: 0.1em;
  }
  .page > header .cancel {
    text-decoration: none;
    text-transform: lowercase;
    color: rgb(204, 204, 204); /* @aluminum */
    padding: 0.75em 1.125em;
  }
  .page > header svg.icon {
    width: 1.125em;
    height: 1.125em;
  }
  .page > header .back {
    background-repeat: no-repeat;
    background-position: 0.75em 1em; /* “centered” works here too, but looks slightly too high up */
    background-size: 1.125em 1.125em;
    width: 1.125em;

    /* @hidden-accessible-text */
    text-indent: -9999px;
    overflow: hidden;

    /* Data URI encoded from: aluminum/back.svg */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxwb2x5Z29uIGZpbGw9InJnYigyMDQsIDIwNCwgMjA0KSIgcG9pbnRzPSIyLDEyIDEyLDIyIDE0LjQ3OCwxOS41MjIgOC43MDgsMTMuNzUyIDIyLDEzLjc1MiAyMiwxMC4yNDggOC43MDgsMTAuMjQ4IDE0LjQ3OCw0LjQ3OCAxMiwyICIvPg0KPC9zdmc+DQo=);
  }
  .page > header .back:active,
  .page > header .back:focus {
    /* Data URI encoded from: snow/back.svg */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxwb2x5Z29uIGZpbGw9IndoaXRlIiBwb2ludHM9IjIsMTIgMTIsMjIgMTQuNDc4LDE5LjUyMiA4LjcwOCwxMy43NTIgMjIsMTMuNzUyIDIyLDEwLjI0OCA4LjcwOCwxMC4yNDggMTQuNDc4LDQuNDc4IDEyLDIgIi8+DQo8L3N2Zz4NCg==);
  }

  /* OPTIONAL: Give edit and detail pages a white header. */
  .mix.page          > header,
  .mixes.page        > header,
  .mix-editor.page   > header,
  .post.page         > header,
  .edit.page         > header,
  .edit-profile.page > header {
    background-color: white;
    color: black;
    border-bottom-color: rgb(222, 222, 222); /* @silver*/
  }
  .mix.page          > header .back,
  .mixes.page        > header .back,
  .mix-editor        > header .back,
  .post.page         > header .back,
  .edit.page         > header .cancel,
  .edit-profile.page > header .cancel {
    border-color: transparent;
    color: rgb(102, 102, 102); /* @tin */
  }
  .mix.page          > header .back,
  .mixes.page        > header .back,
  .mix-editor.page   > header .back,
  .post.page         > header .back {
    /* Data URI encoded from: tin/back.svg */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxwb2x5Z29uIGZpbGw9InJnYigxMDIsIDEwMiwgMTAyKSIgcG9pbnRzPSIyLDEyIDEyLDIyIDE0LjQ3OCwxOS41MjIgOC43MDgsMTMuNzUyIDIyLDEzLjc1MiAyMiwxMC4yNDggOC43MDgsMTAuMjQ4IDE0LjQ3OCw0LjQ3OCAxMiwyICIvPg0KPC9zdmc+DQo=);
  }
  .mix.page          > header a:active,
  .mix.page          > header a:focus,
  .mixes.page        > header a:active,
  .mixes.page        > header a:focus,
  .mix-editor        > header a:active,
  .mix-editor        > header a:focus,
  .post.page         > header a:active,
  .post.page         > header a:focus,
  .edit.page         > header a:active,
  .edit.page         > header a:focus,
  .edit-profile.page > header a:active,
  .edit-profile.page > header a:focus {
    color: black;
  }
  .mix.page          > header .back:active,
  .mix.page          > header .back:focus,
  .mixes.page        > header .back:active,
  .mixes.page        > header .back:focus,
  .mix-editor        > header .back:active,
  .mix-editor        > header .back:focus,
  .post.page         > header .back:active,
  .post.page         > header .back:focus {
    /* Data URI encoded from: midnight/back.svg */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxwb2x5Z29uIHBvaW50cz0iMiwxMiAxMiwyMiAxNC40NzgsMTkuNTIyIDguNzA4LDEzLjc1MiAyMiwxMy43NTIgMjIsMTAuMjQ4IDguNzA4LDEwLjI0OCAxNC40NzgsNC40NzggMTIsMiAiLz4NCjwvc3ZnPg0K);
  }

  /* OPTIONAL: Position the submit button in the header */
  .page > header ~ form .submit {
    position: absolute;
    z-index: 2;
    top: 0.375em;
    right: 0.375em;
    margin: 0;
  }
  .page > header ~ form .submit.warning {
    margin-top: 0.75em;
    position: static;
  }

  @media (min-width: 20em) and (min-height: 20em) {

    /* OPTIONAL: Make the header sticky */
    section.page {
      padding-top: 3em; /* @line-height x 2 */
    }
    .page > header {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      padding-left: 6em;
      padding-right: 6em;
      box-sizing: border-box;
    }

    /* OPTIONAL: Position the submit button in the header */
    .page > header ~ form .submit {
      position: fixed;
    }
  }

