
  /* =List (Users & Pushes)
  ----------------------------------------------- */
  .list ul,
  .list li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .list ul {
    margin: 0 -1.25em;
  }
  .list li {
    margin: 0.75em 0;
    position: relative;
  }
  .list li a {
    display: block;
    vertical-align: middle;
    padding: 0.5625em 1.125em;
    padding-left: 3.25em;
    text-decoration: none;
    background: white;
    border: 0.1em solid rgb(222, 222, 222); /* @silver*/
    color: rgb(102, 102, 102); /* @tin */
    border-radius: 0.25em;
  }
  .list li a:active,
  .list li a:focus {
    background-color: rgb(222, 222, 222); /* @silver*/
  }
  .list li a .avatar {
    position: absolute;
    left: 0.65em;
    top: 50%;
    margin-top: -0.9375em; /* avatar height / 2 */
  }
  .list li a .name {
    display: table;
  }
  .list li a .name > span {
    display: table-row;
  }
  .list li a .name > span > span {
    display: table-cell;
    vertical-align: middle;
    height: 3em;
  }
  .list ul h3,
  .list ul p {
    margin: 0;
    font-size: inherit;
  }
  .list ul h3 {
    color: black;
  }
  @media (max-width: 34.25em) {
    .list li {
      margin-top: 0;
      margin-bottom: 0;
    }
    .list li a {
      border-left-width: 0;
      border-right-width: 0;
      border-radius: 0;
    }
    .list li + li a {
      border-top-width: 0;
    }
  }