

  /* =Loading Screen
  ----------------------------------------------- */
  section.loading,
  section.developer-tools {
    margin: 0;
    background: black;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
  }
  section.loading         .close,
  section.developer-tools .close {
    position: absolute;
    top: 0.375em;
    right: 0;
    color: inherit;
    font-size: 1.25em;
  }
  section.loading {
    display: table;
    text-align: center;
  }
  section.loading.error {
    -webkit-animation-name: none;
            animation-name: none;
    position: fixed;
  }
  section.loading.has-details {
    display: block;
    overflow: scroll;
  }
  section.loading.inactive {
    opacity: 0;
  }
  section.loading > div {
    display: table-row;
  }
  section.loading > div > div {
    display: table-cell;
    padding: 3em 1.5em;
    vertical-align: middle;
  }
  section.loading h1 {
    font-size: inherit;
    display: inline;
  }
  section.loading h1 svg {
    margin-bottom: 1.5em;
  }
  section.loading h1 + p:before {
    content: " — ";
  }
  section.loading p {
    display: inline;
  }
  section.loading a {
    color: inherit;
  }
  section.loading .loading-icon + .message {
    margin-left: 0.375em;
  }
  section.loading section {
    margin-top: 3em;
    text-align: left;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  section.loading section h2 {
    font-size: inherit;
    font-weight: normal;
  }
  section.loading .action {
    margin-top: 1.5em;
    display: block;
  }

