

  /* =Message (pop-up at the bottom of the screen)
  ----------------------------------------------- */
  section.message {
    background-color: white;
    color: rgb(51, 51, 51); /* @iron */
    font-weight: bold;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.375);
    z-index: 9999; /* @infinity */
    width: 100%;
    padding: 0.75em 1.5em;
    box-sizing: border-box;
    position: absolute;
    left: -9999px;

    transition: -webkit-transform 0.3s;
    transition:         transform 0.3s;

    -webkit-transform: translateY(30em);
            transform: translateY(30em);
  }
  section.message.active {
    position: fixed;
    bottom: 0;
    left: 0;
    max-height: 50%;
    overflow-y: scroll;

    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  section.message > div {
    max-width: 31.25em;
    margin: 0 auto;
  }
  section.message .error {
    color: rgb(255, 102, 102); /* @peach */
  }


  /* =Loading/Error Message
  -----------------------------------------------
  (for “in situ” messages that we show when content hasn’t loaded yet, or has failed to load)
  ----------------------------------------------- */
    .error-message,
  .loading-message {
    color: rgb(255, 255, 255); /* @snow */
    background: rgb(0, 0, 0); /* @midnight */
    text-align: center;
    padding: 1.5em;
  }
    .error-message h1,
  .loading-message h1 {
    font-size: inherit !important; /* SHIM: This is !important to override the .page h1 style
                                            which happens to come later… */
  }
    .error-message a,
  .loading-message a {
    color: inherit;
  }


  /* =Upload Message
  ----------------------------------------------- */
  section.upload-message {
    padding: 0.625em 1.5em;
    box-sizing: border-box;
    border-bottom: 0.1em solid rgb(222, 222, 222); /* @silver*/
    line-height: 1.3333333333; /* @line-height / 1.125em */
    position: relative;
  }

  /* SHIM: Give the fixed header more space so it’s less likely to overlap the message. */
  .page > header + section.upload-message {
    margin-top: 1.5em;
  }

  /* On the post page, the upload message appears after the related content. */
  .comments section.upload-message {
    border-bottom-width: 0;
    border-top: 0.1em solid rgb(222, 222, 222); /* @silver*/
    margin-left: -1.25em;
    margin-right: -1.25em;
  }

  .upload-message.error {
    background-color: rgb(255, 49, 59); /* @apple */
    color: white;
  }
  .upload-message.error a,
  .upload-message.error button {
    color: inherit;
  }
  section.upload-message:last-child {
    border-bottom-width: 0;
  }
  section.upload-message img {
    vertical-align: middle;
    margin-right: 0.25em;
  }
  section.upload-message h1 {
    margin: 0 3.5em 0 0;
    font-size: 1.125em;
    font-weight: inherit;
  }
  section.upload-message p {
    margin: 0;
  }
  section.upload-message ul,
  section.upload-message li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  section.upload-message ul {
    position: absolute;
    top: 0.375em;
    right: 0.875em;
    margin: 0;
  }
  section.upload-message li {
    display: inline;
  }
  section.upload-message button {
    padding: 0.375em;
  }


  /* =Empty Message
  ----------------------------------------------- */
  .empty-message {
    text-align: center;
    padding: 1.5em;
    margin: 1.5em 0;
  }
  .empty-message ul,
  .empty-message li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .empty-message li + li {
    margin-top: 0.75em;
  }

  /* SHIM: Make the buttons line up in the empty push message. */
  .empty-message a {
    min-width: 12em;
  }


  /* =Confirmation Message
  ----------------------------------------------- */
  section.confirmation-message {
    padding: 1.5em;
  }
  section.confirmation-message h1 {
    font-size: inherit;
    display: inline;
  }
  section.confirmation-message h1 + p:before {
    content: " — ";
  }
  section.confirmation-message p {
    display: inline;
  }
  section.confirmation-message .action {
    display: block;
    margin-top: 1.5em;
  }

