

  /* =Mixes
  ----------------------------------------------- */
  section.mixes.page {
    background: rgb(51, 51, 51); /* @iron */
    color: white;
    min-height: 100%;
  }
  section.mixes.page > div {
    max-width: none;
    padding: 0;
  }


  /* =Mix List
  ----------------------------------------------- */
  .mix-list,
  .mix-list li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .mix-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .mix-list {
    margin: 0;
    padding: 0.1em 0 0 0.1em;
  }
  .mix-list li {
    float: left;
    margin: 0 0.1em 0.1em 0;
  }
  .mix-list a {
    display: block;
    width: 7.8125em; /* image size / @font-size (125px / 16px) */
    height: 7.8125em;
    background-color: black;
    color: white;
    text-align: center;
  }
  .mix-list a img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.2s;
  }
  .mix-list a:active img,
  .mix-list a:focus  img {
    opacity: 0.75;
  }
  .mix-list .add a {
    display: block;
    background-color: rgb(255, 49, 102); /* @strawberry */
    color: white;
    width: 80%; /* image size / @font-size (125px / 16px) */
    height: 80%;
    border-radius: 0.25em;
    margin: 10%;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    padding: 0.75em 0.5em;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
            flex-direction: column;

    -webkit-align-items: center;
            align-items: center;

    -webkit-align-content: center;
            align-content: center;

    -webkit-justify-content: center;
            justify-content: center;
  }
  .mix-list .add a:active,
  .mix-list .add a:focus {
    background-color: rgba(255, 49, 102, 0.85); /* @strawberry */
  }
  .mix-list .add span.icon {
    margin: 0 auto;
    display: block;
    width: 1.6875em; /* 27px / @font-size */
    height: 1.6875em;
    opacity: 0.6;
  }
  .mix-list li {
    width: 32.5%;
    min-height: 100px;
  }
  .mix-list li {
    width: 32.5vw;
    height: 32.5vw;
  }
  .mix-list li {
    width: calc(33.333333333vw - 0.1333333333em); /* three per row (image size (100px) / 3) - padding (0.1em) */
    height: calc(33.333333333vw - 0.1333333333em);
  }
  .mix-list li a {
    width: 95%; /* image size / @font-size (125px / 16px) */
    height: 95%;
    margin: 2.5%;
    box-sizing: border-box;
    text-decoration: none;
  }


  /* =Loading/Error Indicators
  ----------------------------------------------- */
  .mix-list .mix-error   > span,
  .mix-list .mix-loading > span {
    display: block;
    position: relative;
    background: black;
    color: white;
    width: 95%; /* image size / @font-size (125px / 16px) */
    height: 95%;
    min-width: 100px;
    min-height: 100px;
    margin: 2.5%;
    box-sizing: border-box;
  }
  .mix-list .mix-error > span {
    background: rgb(255, 49, 59); /* @apple */
    padding: 0.375em 0.75em;
  }
  .mix-list .mix-loading .loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.875em;
    margin-left: -0.875em;
  }
  .mix-list .mix-loading .text {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }

