
  /* =Notifications
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */

  .notifications.page > div {
    padding-top: 0;
  }
  .notifications .post-list .new header h3:before {
    content: "";
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    background-color: rgb(255, 49, 102); /* @strawberry */
    position: absolute;
    margin-top: 0.75em;
    margin-left: -3.875em;
  }
  .notifications .post-list {
    margin-left: -1.25em;
    margin-right: -1.25em;
    padding-bottom: 0;
  }
  .notifications .post-list .time {
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    color: rgb(153, 153, 153); /* @nickel */
    font-size: 0.6666666667em;
    text-transform: uppercase;
  }
  .notifications .post-list li {
    background: white;
  }
  .notifications .post-list li:first-child {
    border-top: 0.1em solid rgb(222, 222, 222); /* @silver*/
  }
  .notifications .post-list li:last-child {
    border-bottom: 0.1em solid rgb(222, 222, 222); /* @silver*/
  }
  .list h2,
  .notifications h2 {
    margin-top: 1.125em;
    font-size: 0.75em;
    text-transform: uppercase;
    color: rgb(159, 165, 162); /* @barium */
  }
  .notifications article {
    padding: 0.625em 5em 0.625em 3.125em; /* 10px 80px 10px 50px */
    position: relative;
    line-height: 1.25em;
    min-height: 3.75em; /* image size (60px) / @font-size */
  }
  .notifications article header {
    text-align: left;
    display: inline;
  }
  .notifications article header h3 {
    float: none;
    display: inline;
  }
  .notifications article header h3 {
    line-height: 1.2857142857; /* @line-height / 0.875 x 3/4 */
  }
  .notifications article .body img {
    width      : 4.2857142857em; /* target image size / font size (60px / 14px) */
    min-height : 4.2857142857em;
    position: absolute;
    top : 0.625em; /* 10px / @font-size */
    right  : 0.625em;
  }
  .notifications article .body {
    font-size: 0.875em; /* 14px / @font-size */
    display: inline;
  }
  .notifications article .body p {
    display: inline;
    margin: 0;
  }
