
  /* =Page
  ----------------------------------------------- */
  section.page {
    background-color: rgb(250, 250, 250); /* @casper */
    color: rgb(5, 5, 5); /* @tungsten */
    min-height: 100%;
    box-sizing: border-box;
  }
  .page > div,
  .page > form,
  .page > aside {
    padding: 1.25em;
    max-width: 31.25em; /* image.width / font-size (500px / 16px) */
    margin: 0 auto;
  }
  .page > div:last-child,
  .page > form:last-child,
  .page > aside:last-child {
    padding-bottom: 4.5em;
  }

  /* SHIM: Add extra padding to the bottom of pages with forms, to prevent the virtual keyboard
           from obscuring the fields and buttons on Android (in standalone webview mode). */
  .page >         form:last-child,
  .page > form ~ aside:last-child,
  .start.page >    div:last-child,
  .post.page >     div:last-child {
    padding-bottom: 17.5em;
  }
  .page .submit {
    margin-top: 0.75em;
  }
  .page > aside {
    padding-top: 0;
  }
  .page aside {
    margin-top: 1.5em;
  }
  .submit + aside {
    margin-top: 3em;
  }

  /* For the post editor */
  .page > a {
    padding: 1.25em;
    position: absolute;
    top: 0;
    right: 0;
  }
  .page > a .icon {
    width: 1.875em;
    height: 1.875em;
  }
  .page h1 {
    margin-top: 0;
    font-size: 1.125em; /* 18px / @font-size */
    line-height: 1.3333333333; /* 1.5 / 1.125 */
  }
