
  /* =Page Options
  -----------------------------------------------
  TODO: Consider combining these with styles for items on the settings page.
  ----------------------------------------------- */
  .page aside ul,
  .page aside li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .page aside li {
    margin: 0.75em 0;
  }
  .page aside ul + ul {
    margin-top: 1.5em;
  }
  .page aside a      .icon,
  .page aside button .icon {
    margin-right: 0.75em;
    margin-left: -0.5em;
    width: 1.875em;
    height: 1.875em;
    opacity: 0.25;
  }
  span.icon.exit-to-app:before {
    background-size: 1.5em auto;
  }
  .page aside a,
  .page aside button {
    display: block;
    width: 100%;
    box-sizing: content-box;
    text-align: left;
    padding: 0.375em 1.25em;
    margin: 0 -1.25em;
    line-height: 1.5em;
    text-decoration: none;
    font-weight: normal;
    background: white;
    border: 0.1em solid rgb(222, 222, 222); /* @silver*/
    color: rgb(102, 102, 102); /* @tin */
    border-radius: 0.25em;
  }
  .page aside a,
  .page aside button {
    /* Data URI encoded from: midnight/forward.svg */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCI+DQo8cGF0aCBmaWxsPSJyZ2IoMjA0LCAyMDQsIDIwNCkiIGQ9Ik05LjUsMTljLTAuMzg0LDAtMC43NjgtMC4xNDYtMS4wNjEtMC40MzljLTAuNTg2LTAuNTg2LTAuNTg2LTEuNTM1LDAtMi4xMjFsMy45MzktMy45MzlMOC40MzksOC41NjENCgljLTAuNTg2LTAuNTg1LTAuNTg2LTEuNTM2LDAtMi4xMjFjMC41ODYtMC41ODYsMS41MzUtMC41ODYsMi4xMjEsMGw1LDVjMC41ODYsMC41ODUsMC41ODYsMS41MzYsMCwyLjEyMWwtNSw1DQoJQzEwLjI2OCwxOC44NTQsOS44ODQsMTksOS41LDE5eiIvPg0KPC9zdmc+DQo=);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-position: calc(100% - 1.5em) 50%;
  }
  @media (max-width: 34.25em) {
    .page aside ul + ul {
      margin-top: 0.75em;
    }
    .page aside li {
      margin-bottom: 0;
    }
    .page aside li + li {
      margin-top: 0;
    }
    .page aside li + li a,
    .page aside li + li button {
      border-top-width: 0;
    }
    .page aside a,
    .page aside button {
      border-left-width: 0;
      border-right-width: 0;
      border-radius: 0;
    }
  }
  .page aside a:active,
  .page aside a:focus,
  .page aside button:active,
  .page aside button:focus {
    background-color: rgb(222, 222, 222); /* @silver*/
  }
  .page aside,
  .page aside ul {
    margin-top: 0;
  }
  .page aside a {
    text-transform: lowercase;
  }
