

  /* =Post List
  ----------------------------------------------- */
  .post-list,
  .post-list > li {
    list-style: none;
    padding-left: 0;
  }
  .post-list {
    margin: 0 auto;
    padding-bottom: 3em;
  }
  .post-list > li {
    margin: 0 auto;
    max-width: 31.25em; /* image.width / @font-size (500px / 16px) */
    border-bottom: 0.1em solid rgb(222, 222, 222); /* @silver*/
  }
  .post-list > li:last-child {
    border-bottom-width: 0;
  }
  .post-list .next     a,
  .post-list .previous a {
    display: block;
    text-align: center;
    font-size: 2em;
  }

