

  /* =Post Item
  ----------------------------------------------- */
  article {
    padding: 1.25em 1.25em 1.25em 3.75em; /* 20px 20px 20px 60px */
  }
  article header {
    position: relative;
    text-align: right;
  }
  article header h3 {
    float: left;
  }
  article header h3,
  article header p {
    margin: 0;
    font-size: 0.875em; /* 14px / @font-size */
    line-height: 1.7142857143; /* @line-height / 0.875 */
    display: inline-block;
  }
  article header h3 a {
    color: inherit;
    text-decoration: none;
  }
  article header h3 .avatar {
    font-size: 1.1428571429em; /* 1 / 0.875 */
  }
  article header .avatar {
    position: absolute;
    margin-left: -2.5em;
  }
  article footer {
    position: relative;
  }
  article footer .options {
    position: absolute;
    bottom: -0.75em;
    right: -0.75em;
    padding: 0.5em 0.75em;
    color: inherit;
    opacity: 0.25;
  }
  article footer .options:active,
  article footer .options:focus {
    color: black;
    opacity: 1;
  }
  article header p {
    color: rgb(204, 204, 204); /* @aluminum */
    font-weight: bold;
  }
  article header p + p {
    margin-left: 0.375em;
  }
  article header p a {
    color: inherit;
    text-decoration: none;
  }
  article header p a:active,
  article header p a:focus {
    color: black;
  }
  article header p .icon {
    opacity: 0.25;
    text-align: left;
  }
  article .body img {
    border-radius: 0.125em;
    width: 100%;
    height: auto;

    /* OPTIONAL: Show something while the image is loading (or if it fails to load). */
    background-color: rgba(0, 0, 0, 0.25);
    min-height: 9em;
  }
  article .body {
    /* @wrap-long-words */
    word-wrap     : break-word;
    overflow-wrap : break-word;
  }
  article .body p {
    font-size     : 1.125em; /* 18px / @font-size */
    line-height   : 1.3333333333em; /* @line-height / 1.125 */
    margin-top    : 0.6666666667em; /* 1.33em / 2 */
    margin-bottom : 0.6666666667em;
  }
  article .body p:last-child {
    margin-bottom: 0;
  }
  article footer {
    margin-top: 0.75em;
  }
  article footer p {
    margin: 0;
    display: inline;
  }
  article footer p + p {
    margin-left: 0.375em;
  }
  article footer p a,
  article footer p button {
    display: inline-block;
    color: rgb(204, 204, 204); /* @aluminum */
    text-decoration: none;
    font-weight: bold;
    padding: 0.1875em 0.75em;
    line-height: 1.5;
    border-radius: 0.25em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204); /* @aluminum */
    transition: all 0.2s;
  }
  article footer p a:active,
  article footer p a:focus,
  article footer p button:active,
  article footer p button:focus {
    background-color: rgb(222, 222, 222); /* @silver*/
    color: rgb(153, 153, 153); /* @nickel */
  }
  article footer p a      svg.icon,
  article footer p button svg.icon {
    font-size: 0.75em;
  }
  article footer .attaboyed {
    color: rgb(245, 83, 135) !important; /* @strawberry */
  }
  article footer .count {
    font-size: 0.75em;
    line-height: 1;
  }


  /* =Options
  ----------------------------------------------- */
  .post-options {
    background: black;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 9;
  }
  .post-options.active {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .post-options ul,
  .post-options li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .post-options ul {
    margin: 0;
    border-radius: 0.15em;
  }
  .post-options ul + ul {
    margin-top: 0.375em;
  }
  .post-options div {
    background: rgb(246, 246, 246);
    padding: 0.375em;
    color: rgb(51, 51, 51); /* @iron */
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: -9999px;

    transition: -webkit-transform 0.3s;
    transition:         transform 0.3s;

    -webkit-transform: translateY(30em);
            transform: translateY(30em);
  }
  .post-options.active div {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 1.5em;

    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .post-options ul {
    border: 0.1em solid rgb(222, 222, 222); /* @silver*/
    background: white;
  }
  .post-options li + li {
    border-top: 0.1em solid rgb(222, 222, 222); /* @silver*/
  }
  .post-options li button {
    display: block;
    width: 100%;
    text-transform: none;
    font-size: 1.125em;
    padding: 0.6666666667em; /* @line-height / 2 / 1.125 */
    line-height: 1.3333333333; /* @line-height / 1.125 */
    color: rgb(101, 156, 247); /* @boysenberry */
    color: rgb(60, 109, 218);
    font-weight: bold;
  }
  .post-options li.warning button {
    color: rgb(255, 49, 59); /* @apple */
  }
  .post-options li button:active,
  .post-options li button:focus {
    background-color: rgb(222, 222, 222); /* @silver*/
    border-radius: 0;
  }
