

  /* =Post Details
  ----------------------------------------------- */
  .post.page > .details {
    max-width: none;
    border-bottom: 0.1em solid rgb(222, 222, 222); /* @silver*/
    background: white;
  }
  .post.page > .details article {
    max-width: 31.25em;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
  }
  .post.page > .details article header {
    margin-bottom: 1.125em;
  }
  .post.page > .details article header h3 a {
    padding-left: 3em;
  }
  .post.page > div h2 {
    font-size: inherit;
  }


  /* =Post Comments
  ----------------------------------------------- */
  .comments h2 {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }
  .comments ol,
  .comments li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .comments ol {
    margin: 0 0 1.25em;
  }
  .comments li + li {
    margin-top: 0.8571428571em; /* @line-height / 4 / 0.875 */
  }
  .comments article {
    padding: 0;
  }
  .comments article header h3,
  .comments article header p,
  .comments article .body {
    font-size: 0.875em; /* 14px / @font-size */
    line-height: 1.2857142857; /* @line-height / 0.875 */
  }
  .comments article .body p {
    margin: 0;
  }
  .comments p.text label {
    padding: 0.5em;
  }

