
  /* =Post Options
  ----------------------------------------------- */
  .post-options {
    background: black;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 9;
  }
  .post-options.active {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .post-options ul,
  .post-options li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .post-options ul {
    margin: 0;
    border-radius: 0.15em;
  }
  .post-options ul + ul {
    margin-top: 0.375em;
  }
  .post-options div {
    background: rgb(246, 246, 246);
    padding: 0.375em;
    color: rgb(51, 51, 51); /* @iron */
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: -9999px;

    transition: -webkit-transform 0.3s;
    transition:         transform 0.3s;

    -webkit-transform: translateY(30em);
            transform: translateY(30em);
  }
  .post-options.active div {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 1.5em;

    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .post-options ul {
    border: 0.1em solid rgb(222, 222, 222); /* @silver*/
    background: white;
  }
  .post-options li + li {
    border-top: 0.1em solid rgb(222, 222, 222); /* @silver*/
  }
  .post-options li button {
    display: block;
    width: 100%;
    text-transform: none;
    font-size: 1.125em;
    padding: 0.6666666667em; /* @line-height / 2 / 1.125 */
    line-height: 1.3333333333; /* @line-height / 1.125 */
    color: rgb(101, 156, 247); /* @boysenberry */
    color: rgb(60, 109, 218);
    font-weight: bold;
  }
  .post-options li.warning button {
    color: rgb(255, 49, 59); /* @apple */
  }
  .post-options li button:active,
  .post-options li button:focus {
    background-color: rgb(222, 222, 222); /* @silver*/
    border-radius: 0;
  }
