

  /* =Profile
  ----------------------------------------------- */
  section.profile .image {
    max-width: none;
    text-align: center;
    padding: 1.25em;
    margin: -1.5em -1.25em 0; /* @line-height */
    background: rgba(255, 255, 255, 0.15);
  }
  section.profile .image .avatar {
    display: inline-block;
  }
  section.profile .image img {
    border-radius: 100%;
    display: block;
    margin: 0 auto;
  }

  section.profile .push-card .details {
    margin-top: 1.5em;
  }
  section.profile .joined {
    font-size: 0.75em;
    line-height: 2;
    text-transform: uppercase;
    opacity: 0.75;
    margin: 0;
  }

