
  /* =Push Card
  ----------------------------------------------- */
  .push-card,
  .switch li > a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 2.25em 1.25em 0.75em; /* 36px 20px*/
    background: rgb(203, 253, 128); /* @lime */
  }
  .push-card.lime,
  .switch li.lime a {
    background: rgb(203, 253, 128); /* @lime */
  }
  .push-card.cucumber,
  .switch li.cucumber a {
    background-color: rgb(150, 254, 166); /* @cucumber */
  }
  .push-card.blueberry,
  .switch li.blueberry a {
    background: rgb(99, 204, 203); /* @blueberry */
  }
  .push-card.boysenberry,
  .switch li.boysenberry a {
    background: rgb(101, 156, 247); /* @boysenberry */
  }
  .push-card.plumb,
  .switch li.plumb a {
    background: rgb(193, 77, 166); /* @plumb */
  }
  .push-card.strawberry,
  .switch li.strawberry a {
    background: rgb(255, 49, 102); /* @strawberry */
  }
  .push-card.apple,
  .switch li.apple a {
    background-color: rgb(255, 49, 59); /* @apple */
  }
  .push-card.tangerine,
  .switch li.tangerine a {
    background: rgb(255, 202, 72); /* @tangerine */
  }
  .push-card.orange,
  .switch li.orange a {
    background: rgb(242, 64, 41); /* @orange */
  }
  .push-card h2,
  .push-card h3 {
    text-align: center;
  }
  .push-card h2,
  .switch li h2 {
    font-size: 1.875em;
    line-height: 1.2; /* @line-height x 1.5 / 1.875em */
    font-weight: 900; /* @extra-bold */
    color: white;
    color: rgba(255, 255, 255, 0.95);
    opacity: 0.95;
    margin-top: 0;
    margin-bottom: 0;
  }
  .push-card.lime       h2,
  .switch li.lime     a h2,
  .push-card.cucumber   h2,
  .switch li.cucumber a h2 {
    color: black;
    color: rgba(0, 0, 0, 0.95);
  }
  .push-card h3 {
    margin-top: 0;
    font-weight: inherit;
    font-size: inherit;
  }
  .push-card h3:last-child {
    margin-bottom: 0;
  }
  .push-card .meta {
    background: black;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 1.5em;     /* @line-height */
    padding: 0.75em 1.5em; /* @line-height / 2 */
    color: white;
  }
  .push-card .meta {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
  .push-card .meta p {
    margin: 0;
    text-transform: uppercase;
    color: white;
    display: inline-block;
  }
  .push-card .meta p + p {
    margin-left: 1.5em;
  }
  .push-card .meta p .count {
    display: block;
    font-weight: bold;
  }
  .push-card .meta p .label {
    color: black;
    font-size: 0.6875em;
    display: block;
    letter-spacing: 1px;
    line-height: 1;
  }

  /* For the settings page */
  .page > .push-card {
    max-width: none;
  }


  /* =Push Card (preview page)
  ----------------------------------------------- */

  /* SHIM: Reapply the “.page” styles */
  .push-card.page {
    padding: 0;
  }
  @media (min-height: 20em) and (min-width: 20em) {
    .push-card.page {
      padding-top: 3em;
    }
  }

  section.push-card > div {
    max-width: 20em;
  }
  .push-card.page form,
  .push-card.page .action {
    margin-top: 3em;
  }

  @media (min-height: 500px) {
    section.start > div,
    .push-card.page .details {
      margin-top: 3em;
    }
    section.start form,
    .push-card.page form,
    .push-card.page .action {
      margin-top: 4.5em;
    }
  }
  .push-card.page .action a {
    background: black;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    width: 100%;
    font-weight: normal;
    font-size: 1.5em; /* 24px / @font-size */
    border-radius: 4px;
    line-height: 2.0833333333em; /* 50px / 24px */
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    text-align: center;
  }
  .push-card.page .action a:active,
  .push-card.page .action a:focus {
    background: black;
  }
