

  /* =Push Card
  -----------------------------------------------
  A themed header, preview, or form for a push
  ----------------------------------------------- */

  .push-card {
    text-align: center;

    /* TRICKY: Start with a shade of gray, in case the color is missing. */
    background-color: rgb(204, 204, 204); /* @aluminum */
  }

  .push-card.lime {
    background-color: rgb(203, 253, 128); /* @lime */
  }
  .push-card.cucumber {
    background-color: rgb(150, 254, 166); /* @cucumber */
  }
  .push-card.blueberry {
    background-color: rgb(99, 204, 203); /* @blueberry */
  }
  .push-card.boysenberry {
    background-color: rgb(101, 156, 247); /* @boysenberry */
  }
  .push-card.plumb {
    background-color: rgb(193, 77, 166); /* @plumb */
  }
  .push-card.strawberry {
    background-color: rgb(255, 49, 102); /* @strawberry */
  }
  .push-card.apple {
    background-color: rgb(255, 49, 59); /* @apple */
  }
  .push-card.tangerine {
    background-color: rgb(255, 202, 72); /* @tangerine */
  }
  .push-card.orange {
    background-color: rgb(242, 64, 41); /* @orange */
  }

  /* SHIM: There’s an extra selector here to override the “.page > div” style. */
  .push-card,
  .page > .push-card {
    padding: 1.5em 1.25em; /* @line-height */
    max-width: none;
  }

  /* Sometimes the push-card is a link */
  a.push-card {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .push-card h2 {
    font-size: 1.875em;
    line-height: 1.2; /* @line-height x 1.5 / 1.875em */
    font-weight: 900; /* @extra-bold */
    color: white;
    color: rgba(255, 255, 255, 0.95);
    opacity: 0.95;
    margin-top: 0;
    margin-bottom: 0;

    /* @wrap-long-words */
    word-wrap     : break-word;
    overflow-wrap : break-word;
  }

  /* Use a darker headline color if the background is light. */
  .push-card.lime     h2,
  .push-card.cucumber h2 {
    color: black;
    color: rgba(0, 0, 0, 0.95);
  }

  .push-card h3,
  .push-card h2 + p {
    margin-top: 0.375em;
    margin-bottom: 0.375em;
    font-weight: inherit;
    font-size: inherit;
  }

  /* Meta */
  .push-card .meta {
    background: black;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 1.5em;     /* @line-height */
    padding: 0.75em 1.5em; /* @line-height / 2 */
    color: white;
  }
  .push-card .meta {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
  .push-card .meta p {
    margin: 0;
    text-transform: uppercase;
    color: white;
    display: inline-block;
  }
  .push-card .meta p + p {
    margin-left: 1.5em;
  }
  .push-card .meta p .count {
    display: block;
    font-weight: bold;
  }
  .push-card .meta p .label {
    color: black;
    font-size: 0.6875em;
    display: block;
    letter-spacing: 1px;
    line-height: 1;
  }
  .push-card .meta p a {
    display: block;
    color: inherit;
    text-decoration: none;
    margin: -0.5em -0.75em -0.75em;
    padding: 0.5em 0.75em 0.75em;
  }
  .push-card .meta p a:active,
  .push-card .meta p a:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .push-card .meta p a:active .label,
  .push-card .meta p a:focus  .label {
    color: white;
  }

  /* Action */
  .push-card form,
  .push-card .action {
    margin-top: 3em;
  }
  .push-card label {
    background: transparent;
    border-width: 0;
    padding: 0;
    margin: 0;
  }
  .push-card input[type="text"] {
    text-align: center;
    font-size: 1.125em; /* 18px / @font-size */
    border-radius: 4px;
    line-height: 2.7777777778em; /* 50px / 18px */
    padding-top: 0;
    padding-bottom: 0;
  }
  .push-card .action a,
  .push-card button {
    background: black;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    width: 100%;
    font-weight: normal;
    font-size: 1.5em; /* 24px / @font-size */
    border-radius: 4px;
    line-height: 2.0833333333em; /* 50px / 24px */
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    text-align: center;
  }
  .push-card .action a:active,
  .push-card .action a:focus,
  .push-card button:active,
  .push-card button:focus {
    background: black;
  }

  section.push-card > div {
    max-width: 20em;
  }

  /* OPTIONAL: Space things out a little more on tall screens */
  @media (min-height: 500px) {
    .start.page > div,
    .push-card .details {
      margin-top: 3em;
    }
    .push-card form,
    .push-card .action {
      margin-top: 4.5em;
    }
  }

  /* Header (For the push & profile pages) */
  .header.push-card {
    border-bottom: 0.1em solid rgb(222, 222, 222); /* @silver*/
  }
  .header.push-card .meta {
    display: block;
    text-align: left;
    margin-left   : -1.25em;
    margin-right  : -1.25em;
    margin-bottom : -1.5em; /* @line-height */
  }
  .header.push-card .meta .hashtags {
    margin: 0;
    float: right;
  }
  .header.push-card .meta .hashtags a {
    display: block;
    color: white;
    color: rgba(255, 255, 255, 0.85);
    border: 0.1em solid white;
    border-color: rgba(255, 255, 255, 0.85);
    padding: 0.5625em 1.5em;
    line-height: 1;
    border-radius: 0.375em;
    margin: 0;
  }
  .header.push-card .meta .hashtags a:active,
  .header.push-card .meta .hashtags a:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }
  .header.push-card .meta .hashtags .icon {
    width: 1em;
    height: 1em;
  }

