
  /* =Create (toolbar)
  ----------------------------------------------- */
  .create,
  .create li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .create {
    margin: 0;
    background: rgb(51, 51, 51); /* @iron */
    color: rgb(153, 153, 153); /* @nickel */
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    transition: opacity 0.2s;
    text-align: center;

    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: stretch;
            justify-content: stretch;
  }
  .create li {
    display: inline-block;
    -webkit-flex-grow: 1;
            flex-grow: 1;
  }
  .create a {
    display: block;
    text-decoration: none;
    text-transform: lowercase;
    color: inherit;
    font-size: 0.75em;
    line-height: 1;
    padding: 0.75em 0 1em;
    text-align: center;
  }
  .create a:active,
  .create a:focus {
    color: white;
  }
  .create li:first-child a {
    padding-left: 0.375em;
  }
  .create li:last-child a {
    padding-right: 0.375em;
  }
  .create li a span.icon {
    width  : 2.25em; /* 27px / @font-size */
    height : 2.25em;
    display: block;
    margin: 0 auto 0.25em;
    opacity: 0.8;
    transition: opacity 0.2s;
  }
  .create li a:active span.icon,
  .create li a:focus  span.icon {
    opacity: 1;
  }
  .create li a span.icon:before {
    width  : 2.25em;
    height : 2.25em;
  }
