
  /* =Transitions
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */


  /* =Slide Left
  ----------------------------------------------- */
  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(40em);
              transform: translateX(40em);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(40em);
              transform: translateX(40em);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }


  /* =Slide Right
  ----------------------------------------------- */
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-40em);
              transform: translateX(-40em);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-40em);
              transform: translateX(-40em);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }


  /* =Slide Up
  ----------------------------------------------- */
  @-webkit-keyframes slide-up {
    0% {
      -webkit-transform: translateY(40em);
              transform: translateY(40em);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-up {
    0% {
      -webkit-transform: translateY(40em);
              transform: translateY(40em);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }


  /* =Slide Down
  ----------------------------------------------- */
  @-webkit-keyframes slide-down {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(40em);
              transform: translateY(40em);
    }
  }
  @keyframes slide-down {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(40em);
              transform: translateY(40em);
    }
  }


  /* =Switch Push (intro)
  ----------------------------------------------- */
  section.switch li:nth-child(2n+1) {
    -webkit-animation: slide-left 0.2s both;
            animation: slide-left 0.2s both;
  }
  section.switch li:nth-child(2n) {
    -webkit-animation: slide-right 0.2s both;
            animation: slide-right 0.2s both;
  }


  /* =Edit Post (intro & outro)
  ----------------------------------------------- */
  section.editor.page {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-animation: slide-up 0.3s both;
            animation: slide-up 0.3s both;
  }
  section.editor.page.outro {
    -webkit-animation: slide-down 0.3s both;
            animation: slide-down 0.3s both;
  }

