
  /* =Fonts
  ----------------------------------------------- */

  /* This CSS resource incorporates links to font software which is the valuable copyrighted
  property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
  redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
  Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com */
  @font-face{
    font-family: "Proxima Nova";
    src: url(../fonts/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix);
    src: url(../fonts/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix) format("eot"),
         url(../fonts/19dd5cf2-ac2d-48d5-901a-c432fd291ee2.woff) format("woff"),
         url(../fonts/22cfbfa4-f607-4751-92eb-6fa194353e57.ttf) format("truetype"),
         url(../fonts/3d6b6348-e05f-4123-b19a-3bfd02c7f361.svg#3d6b6348-e05f-4123-b19a-3bfd02c7f361) format("svg");
    font-weight: 900; /* @extra-bold */
    font-style: normal;
  }


  /* =Animation
  ----------------------------------------------- */
  @-webkit-keyframes rotate-down {
      from {
        -webkit-transform: rotate(0deg);
        top: 0;
      }
      to {
        -webkit-transform: rotate(-15deg);
        top: 0.1em;
      }
  }
  @-moz-keyframes rotate-down {
      from {
        -moz-transform: rotate(0deg);
        top: 0;
      }
      to {
        -moz-transform: rotate(-15deg);
        top: 0.1em;
      }
  }
  @keyframes rotate-down {
      from {
        transform: rotate(0deg);
        top: 0;
      }
      to {
        transform: rotate(-15deg);
        top: 0.1em;
      }
  }


  /* =Elements
  ----------------------------------------------- */
  body {
    font: 100%/1.75 "Helvetica Neue", Helvetica, Arial, sans-serif; /* @helvetica */
    margin: 0;
    padding: 0;
    background: rgb(246, 246, 246); /* @casper */
    color: rgb(5, 5, 5); /* @tungsten */
    text-align: center;
  }
  @media (min-width: 60em) and (min-height: 45em) { /* @medium-screen */
    .main {
      font-size: 125%;
    }
  }
  @media (min-width: 80em) and (min-height: 60em) { /* @huge-screen */
    .main {
      font-size: 150%;
    }
  }

  a {
    color: rgb(255, 49, 102); /* @pitaya */
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
  }
  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
  }

  svg.icon {
    fill: currentColor; /* http://codepen.io/FWeinb/blog/quick-tip-svg-use-style-two-colors */
  }


  /* =Colors
  ----------------------------------------------- */
  .lime {
    background-color: rgb(176, 224, 0); /* @lime */
  }
  .cucumber {
    background-color: rgb(60, 210, 0); /* @cucumber */
  }
  .blueberry {
    background-color: rgb(0, 204, 204); /* @blueberry */
  }
  .boysenberry {
    background-color: rgb(101, 152, 254); /* @boysenberry */
  }
  .periwinkle {
    background-color: rgb(109, 90, 219); /* @periwinkle */
  }
  .plum,
  .plumb {
    background-color: rgb(181, 62, 194); /* @plumb */
  }
  .strawberry {
    background-color: rgb(250, 44, 162); /* @strawberry */
  }
  .apple {
    background-color: rgb(255, 0, 86); /* @apple */
  }
  .tangerine {
    background-color: rgb(255, 204, 0); /* @tangerine */
  }
  .orange {
    background-color: rgb(255, 117, 9); /* @orange */
  }


  /* =Header
  ----------------------------------------------- */
  .main h1 {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @proxima */
    font-weight: 900;
    font-size: 3.5em;
    margin-bottom: 0.25em;
    margin-top: 0;
  }
  .main h1 .last-letter {
    display: inline-block;
    position: relative;

    /* http://cubic-bezier.com/#.53,3,.37,.08 */
    -webkit-animation : rotate-down 0.5s 1.5s cubic-bezier(.53,3,.37,.08) forwards;
       -moz-animation : rotate-down 0.5s 1.5s cubic-bezier(.53,3,.37,.08) forwards;
            animation : rotate-down 0.5s 1.5s cubic-bezier(.53,3,.37,.08) forwards;
  }
  .main h2 {
    font-size: 1.5em;
    line-height: 1.1666666667em; /* @line-height / 1.5 */
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (min-width: 21em) {
    .main h1 {
      font-size: 4.5em;
    }
  }
  @media (min-width: 30em) {
    .main h1 {
      font-size: 7em;
      margin-bottom: 0;
    }
  }


  /* =Main
  ----------------------------------------------- */
  .main p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.875em; /* 14px / @font-size */
  }
  .main .action {
    margin-top: 1.75em;
  }
  @media (min-width: 21em) {
    .main .action {
      font-size: 1.5em;
    }
  }
  .main .action a {
    display: inline-block;
    line-height: 1.875em; /* 30px / @font-size */
    padding: 0 0.625em;
    color: white;
    border: 0.125em solid white;
    border-radius: 1.9375em; /* line height (30px) + border width (2px) / 2 */
    text-decoration: none;
    font-weight: bold;
  }
  .main .action a:hover,
  .main .action a:active,
  .main .action a:focus {
    background-color: white;
    color: black;
  }
  .main ul,
  .main ul li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .main ul li {
    display: inline;
    margin-left: 0.375em;
    margin-right: 0.375em;
  }
  /*
  .main ul li:after {
    content: " / ";
    font-weight: 100;
    color: white;
    color: rgba(255, 255, 255, 1);
  }
  .main ul li:last-child:after {
    content: "";
  }
  */


  /* =Footer
  ----------------------------------------------- */

  /* Logotype */
  .footer h2 {
    margin-top: 0;
    font-size: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0;
  }
  .footer h2 a {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
  }
  .footer h2 a:hover,
  .footer h2 a:active,
  .footer h2 a:focus {
    color: white;
  }
  .footer blockquote {
    font-size: 0.875em; /* 14px / @font-size */
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /* Error Number */
  .footer .error-number {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* @proxima */
    font-weight: bold;
    font-size: 2.75em;
    line-height: 1;
    margin-bottom: 0;
  }
  .footer .error-number a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
  }
  .footer .error-number a:hover,
  .footer .error-number a:active,
  .footer .error-number a:focus {
    color: white;
  }

  /* OPTIONAL: Make the footer more compact on large screens */
  @media (min-width: 50em) {
    .footer h2,
    .footer blockquote,
    .footer .error-number {
      display: inline-block;
      margin: 0 0.875em;
      vertical-align: middle;
    }
    .footer blockquote p {
      margin: 0.75em 0 0;
    }
    .footer h2 {
      float: left;
      margin-left: 0;
    }
    .footer .error-number {
      float: right;
      margin-right: 0;
    }
  }


  /* =Layout
  ----------------------------------------------- */
  .main > .container {
    padding-top: 1.75em; /* @line-height */
    padding-bottom: 1.75em;
  }
  .footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.75);
  }
  .footer > .container {
    padding-top    : 1.75em; /* @line-height */
    padding-bottom : 1.75em;
  }

  .main  > .container,
  .footer > .container {
    padding-left  : 1.75em; /* @line-height */
    padding-right : 1.75em;
  }

  /* Fill the available vertical space, if the screen is tall */
  html, body {
    height: 100%;
  }
  body > .container {
    display: table;
    width : 100%;
    height: 100%;
  }
  .main,
  .footer {
    display: table-row;
  }
  .main  > .container,
  .footer > .container {
    display: table-cell;
    vertical-align: middle;
    padding-left  : 1.75em; /* @line-height */
    padding-right : 1.75em;
  }
  .footer > .container {
    vertical-align: bottom;
    height: 1px;
  }
