
/*
  Styles for emails sent by the server (Welcome, Daily, Mention, Comment and Mix Ready)
*/

  html, body {
    height: 100%;
  }
  .container {
    min-height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .container {
    min-height: 100%;
    font: 16px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgb(238, 238, 238); /* @seashell */
    color: rgb(83, 83, 83);
    padding-bottom: 30px;
  }
  @media (min-width: 600px) {
    .container {
      padding: 20px 0 60px !important;
    }
  }

  a {
    color: rgb(31, 31, 31); /* @steel */
    transition: opacity 0.2s, color 0.2s, background-color 0.2s;

    /* For password reset email */
    /* @wrap-long-words */
    word-wrap     : break-word;
    overflow-wrap : break-word;
  }
  a:hover,
  a:active,
  a:focus {
    color: rgb(193, 16, 65); /* @raspberry */
  }

  a img {
    border-width: 0;
  }

  .details h2,
  .details h3 {
    font-weight: inherit;
    color: rgb(31, 31, 31); /* @steel */
  }

  .screenshot {
    width: 580px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .headline h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    color: rgb(102, 102, 102); /* @tin */
  }
  .headline h2 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: rgb(102, 102, 102); /* @tin */
  }
  .headline h1 b,
  .headline h2 b {
    color: black;
  }
  .details h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .details h3 {
    font-size: inherit;
    color: inherit;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .details h3 strong {
    font-weight: inherit;
    color: rgb(31, 31, 31); /* @steel */
  }
  .details p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .details p:first-child {
    margin-top: 0;
  }


  /* “Reply above” header */
  .header {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  .header h2 {
    margin: 0;
    font-size: 12px;
    color: rgb(159, 165, 162); /* @barium */
  }


  /* Containers */
  .headline,
  .details,
  .article,
  .message,
  .steps,
  .tip,
  .download,
  .feedback,
  .footer {
    margin-left: auto;
    margin-right: auto;
  }
  .headline,
  .details,
  .article,
  .message,
  .steps,
  .tip,
  .download,
  .feedback {
    background-color: white;
  }
  .headline,
  .details,
  .message,
  .tip,
  .download,
  .feedback {
    max-width: 520px; /* 580px - (30px x 2) */
  }
  /* SHIM: Give details a little more padding at the bottom, for the mix notification */
  .details {
    padding: 25px 30px 30px;
  }
  .article {
    max-width: 600px;
    padding: 15px;
    max-width: 550px; /* 580px - (15px x 2) */
  }
  .footer,
  .steps {
    max-width: 580px;
  }
  .headline {
    margin-top: 10px;
    padding: 20px 30px;
  }
  .headline.first {
    margin-top: 0;
  }
  .headline.first h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .ctzn {
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    background: rgb(135, 135, 135);
    color: white;
    padding: 0 6px;
    font-size: 10px;
    display: inline-block;
  }

  .download {
    padding: 20px 30px;
  }
  .tip,
  .feedback {
    padding: 10px 30px;
  }
  .message {
    max-width: 520px; /* 580px - (30px x 2) */
    padding: 5px 30px 15px 30px;
  }
  .message.first {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .tip,
  .download {
    margin-top: 10px;
  }
  .details,
  .article,
  .message,
  .steps {
    margin-top: 1px;
  }


  /* =Profile Preview
  ----------------------------------------------- */
  .profile {
    margin: 20px 0;
    padding-bottom: 20px;
    text-align: center;
    background: rgb(204, 204, 204); /* @aluminum */
  }
  .profile h3 {
    padding: 14px;
    background-color: rgb(51, 51, 51); /* @iron */
    color: white;
    border-bottom: 1px solid rgb(51, 51, 51); /* @iron */
    margin: 0;
  }
  .profile .image {
    max-width: none;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.15);
  }
  .profile img {
    border-radius: 100%;
    display: block;
    margin: 0 auto;
  }
  .profile h4 {
    color: white;
    font-size: 28px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .profile .action a {
    border-color: white;
    background-color: white;
    color: rgb(51, 51, 51); /* @iron */
  }
  .profile .action a:hover,
  .profile .action a:active,
  .profile .action a:focus {
    background: rgb(238, 238, 238); /* @seashell */
    color: black;
  }
  .profile .about {
    color: black;
  }
  .profile .joined {
    font-size: 11px;
    text-transform: uppercase;
    color: black;
    opacity: 0.5;
    margin: 0;
  }


  /* =Avatars
  ----------------------------------------------- */
  .avatar img {
    border-radius: 100%;
    vertical-align: middle;

    /* OPTIONAL: Show something while the image is loading (or if it fails to load). */
    background-color: rgba(0, 0, 0, 0.25);
  }

  .avatar > span {
    display: inline-block;
    color: black;
    width       : 1.25em; /* 20px / 16px */
    line-height : 1.25em;
    vertical-align: middle;
  }
  .avatar .letter {
    display: block;
    speak: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em; /* 16px / 20px */
    font-style: normal;
    font-weight: bold;
  }


  /* =Member Avatars
  ----------------------------------------------- */
  .avatar .size30 {
    font-size: 1.5em; /* 30px / 20px */
    border-radius: 100%;
  }
  .avatar .size60 {
    font-size: 48px; /* 60 / 1.25 */
    border-radius: 100%;
  }

  .avatar .clover {
    background-color: rgb(0, 235, 98); /* @clover */
  }
  .avatar .kiwi {
    background-color: rgb(0, 255, 208); /* @kiwi */
  }
  .avatar .grape {
    background-color: rgb(159, 104, 246); /* @grape */
  }
  .avatar .bluebird {
    background-color: rgb(0, 206, 250); /* @bluebird */
  }
  .avatar .cantaloupe {
    background-color: rgb(255, 203, 117); /* @cantaloupe */
  }
  .avatar .cranberry {
    background-color: rgb(251, 59, 147); /* @cranberry */
  }
  .avatar .amethyst {
    background-color: rgb(255, 152, 248); /* @amethyst */
  }
  .avatar .sky {
    background-color: rgb(0, 255, 254); /* @sky */
  }
  .avatar .ocean {
    background-color: rgb(24, 57, 245); /* @ocean */
    color: white;
  }


  /* =Push Colors
  ----------------------------------------------- */
  .profile.lime {
    background-color: rgb(218, 243, 121); /* @lime */
  }
  .profile.cucumber {
    background-color: rgb(153, 248, 115); /* @cucumber */
  }
  .profile.blueberry {
    background-color: rgb(40, 221, 181); /* @blueberry */
  }
  .profile.boysenberry {
    background-color: rgb(101, 152, 254); /* @boysenberry */
  }
  .profile.plumb {
    background-color: rgb(193, 76, 172); /* @plumb */
  }
  .profile.strawberry {
    background-color: rgb(250, 56, 136); /* @strawberry */
  }
  .profile.apple {
    background-color: rgb(255, 49, 59); /* @apple */
  }
  .profile.tangerine {
    background-color: rgb(255, 204, 0); /* @tangerine */
  }
  .profile.orange {
    background-color: rgb(250, 134, 40); /* @orange */
  }


  .headline.lime {
    border-top: 10px solid rgb(218, 243, 121); /* @lime */
  }
  .headline.cucumber {
    border-top: 10px solid rgb(153, 248, 115); /* @cucumber */
  }
  .headline.blueberry {
    border-top: 10px solid rgb(40, 221, 181); /* @blueberry */
  }
  .headline.boysenberry {
    border-top: 10px solid rgb(101, 152, 254); /* @boysenberry */
  }
  .headline.plumb {
    border-top: 10px solid rgb(193, 76, 172); /* @plumb */
  }
  .headline.strawberry {
    border-top: 10px solid rgb(250, 56, 136); /* @strawberry */
  }
  .headline.apple {
    border-top: 10px solid rgb(255, 49, 59); /* @apple */
  }
  .headline.tangerine {
    border-top: 10px solid rgb(255, 204, 0); /* @tangerine */
  }
  .headline.orange {
    border-top: 10px solid rgb(250, 134, 40); /* @orange */
  }


  .article .join-summary.lime,
  .article .summary.lime {
    border-left: 5px solid rgb(218, 243, 121); /* @lime */
  }
  .article .join-summary.cucumber,
  .article .summary.cucumber {
    border-left: 5px solid rgb(153, 248, 115); /* @cucumber */
  }
  .article .join-summary.blueberry,
  .article .summary.blueberry {
    border-left: 5px solid rgb(40, 221, 181); /* @blueberry */
  }
  .article .join-summary.boysenberry,
  .article .summary.boysenberry {
    border-left: 5px solid rgb(101, 152, 254); /* @boysenberry */
  }
  .article .join-summary.plumb,
  .article .summary.plumb {
    border-left: 5px solid rgb(193, 76, 172); /* @plumb */
  }
  .article .join-summary.strawberry,
  .article .summary.strawberry {
    border-left: 5px solid rgb(250, 56, 136); /* @strawberry */
  }
  .article .join-summary.apple,
  .article .summary.apple {
    border-left: 5px solid rgb(255, 49, 59); /* @apple */
  }
  .article .join-summary.tangerine,
  .article .summary.tangerine {
    border-left: 5px solid rgb(255, 204, 0); /* @tangerine */
  }
  .article .join-summary.orange,
  .article .summary.orange {
    border-left: 5px solid rgb(250, 134, 40); /* @orange */
  }


  /* =Article
  ----------------------------------------------- */
  .article.summary-container {
    background: rgb(250, 250, 250); /* @casper */
  }
  .article h4 {
    margin-top: 0;
  }
  .article h4 .avatar {
    margin-right: 7px;
  }
  .article .body img {
    display: block;

    /* OPTIONAL: Show something while the image is loading (or if it fails to load). */
    min-width: 200px;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .article .body {
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(51, 51, 51); /* @iron */
  }
  .article .body img,
  .article .body video {
    margin: 15px auto;
    max-width: 100%;
    height: auto;
  }
  .article .summary video {
    display: block;
    height: 100px;
  }
  .article .summary img.video-fallback {
    margin-bottom: 0;
  }
  .article .summary span.video-fallback {
    font-size: 0.75em;
    opacity: 0.5;
    font-style: italic;
  }
  .article .summary img {
    display: block;
    height: 100px;

    /* OPTIONAL: Show something while the image is loading (or if it fails to load). */
    min-height: 30px;
    min-width: 30px;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .article .comment + .comment,
  .article .summary + .comment,
  .article .join-summary + .comment  {
    padding-top: 10px;
    border-top: 1px solid rgb(244, 244, 244);
    margin-top: 10px;
  }
  .article .comment h4 {
    margin: 0;
  }
  .article h4 a,
  .article .comment a {
    text-decoration: none;
  }
  .article .comment p {
    margin-top: 0;
    padding-left: 42px;
    margin-bottom: 10px;
  }
  .article .action {
    margin-top: 30px;
    padding-left: 15px;
    margin-bottom: 20px;
  }
  .article .action a {
    text-decoration: none;
  }
  .article .join-summary,
  .article .summary {
    margin-top: 0;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(135, 135, 135);
    font-style: italic;
  }
  .article .summary h5,
  .article .summary p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .article .summary h5 {
    font-size: inherit;
    font-weight: normal;
    color: rgb(31, 31, 31); /* @steel */
  }
  .article .join-summary .avatar {
    margin-right: 5px;
  }
  .article .join-summary b {
    color: inherit;
  }


  /* =Video
  ----------------------------------------------- */
  .article a.video {
    background: rgb(44, 44, 44); /* @thorium */
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .article a.video:hover,
  .article a.video:active,
  .article a.video:focus {
    background: black;
  }
  .article a.video img {
    margin-bottom: 0;
  }
  .article a.video span {
    display: block;
    padding: 10px;
  }
  .article a.video span img {
    margin: 0 5px 0 0;
    width: 26px;
    height: 26px;
    display: inline;
    vertical-align: middle;
    min-width: 1px;
    min-height: 1px;
    background-color: transparent;
  }
  .article .body a.video {
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
  }
  .article .summary a.video {
    max-width: 200px;
  }
  .article .summary a.video > img {
    height: 200px;
  }


  /* =Intro
  ----------------------------------------------- */
  .intro {
    max-width: 520px; /* 580px - (30px x 2) */
    margin: 0 auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background: white;
    color: rgb(31, 31, 31); /* @steel */
  }
  .intro div {
    border: 1px solid rgb(238, 238, 238); /* @seashell */
    padding: 20px;
    position: relative;
  }
  .intro h2,
  .intro .name {
    display: inline-block;
  }
  .intro h2 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 5px;
  }
  .intro .avatar {
    margin-right: 10px;
    float: left;
  }
  .intro .name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: rgb(153, 153, 153); /* @nickel */
  }
  .intro .about {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 0;
    color: rgb(102, 102, 102); /* @tin */
    font-size: 14px;
  }
  .intro .action {
    clear: both;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .intro .action a {
    display: block;
    text-align: center;
  }


  /* =Members
  ----------------------------------------------- */
  .members ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
  }
  .members li {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 580px; /* 580px - (30px x 2) */
    margin-top: 1px;
  }
  .members li a {
    text-decoration: none;
  }
  .members li > a {
    display: block;
    padding: 20px 30px 20px 15px;
  }
  .members li .avatar,
  .members li a b {
    margin-right: 5px;
  }
  .members li h3 {
    font-size: inherit;
    margin: 0;
  }
  .members .also h3,
  .members li .about,
  .members li .role,
  .members li .joined {
    color: rgb(102, 102, 102); /* @tin */
  }
  .members li .name {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    color: rgb(153, 153, 153); /* @nickel */
  }
  .members li .also {
    display: block;
    color: black;
    padding: 20px 30px;
    font-size: 12px;
  }
  .members li .also h3 {
    margin-bottom: 10px;
  }
  .members li p {
    padding-left: 42px;
  }
  .members li p.about {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
  }

  .members .also h3,
  .members .role,
  .members .joined {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0;
    font-weight: inherit;
  }

  /* OPTIONAL: Present the joined and role data on one line. */
  .members.with-joined .role {
    float: left;
    margin-right: 3px;
  }
  .members.with-joined .role:after {
    content: " – ";
  }


  /* =Action
  ----------------------------------------------- */
  .action a {
    display: inline-block;
    padding: 7px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204); /* @aluminum */
    background-color: white;
    color: rgb(51, 51, 51); /* @iron */
  }
  .action a:hover,
  .action a:active,
  .action a:focus {
    background: rgb(238, 238, 238); /* @seashell */
  }

  .action.primary a {
    border-color: transparent;
    background-color: rgb(250, 56, 136); /* @strawberry */
    color: white;
  }
  .action.primary a:hover,
  .action.primary a:active,
  .action.primary a:focus {
    background-color: rgb(193, 16, 65); /* @raspberry */
  }

  /* For mix ready email */
  .details .action {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .details .action:last-child {
    margin-bottom: 0;
  }


  /* =Icon
  ----------------------------------------------- */
  svg.icon {
    vertical-align: middle;
    margin-right: 5px;
    fill: currentColor;
  }
  div.heart {
    max-height: 0;
    margin-left: 5px;
  }

  /* Fallback content */
  div.heart span {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin-left: 3px;
    color: rgb(251, 59, 147); /* @cranberry */
  }

  .article p.source {
    margin-top: 0;
    color: rgb(193, 193, 193);
    font-size: 14px;
    float: right;
  }


  /* =Steps
  ----------------------------------------------- */
  .icon  svg,
  .icons svg {
    width : 35px;
    height: 35px;
    vertical-align: middle;
    fill: currentColor;
  }
  .icons svg {
    width : 25px;
    height: 25px;
  }

  .steps ol {
    margin: 0;
    padding: 30px 0 30px 60px;
    font-size: 28px;
    font-weight: bold;
  }
  .steps li {
    padding-right: 20px;
  }
  .steps div {
    font-size: 16px;
    font-weight: normal;
  }
  .steps   b,
  .message b {
    color: black;
  }
  .steps .not-first {
    border-top: 1px solid rgb(238, 238, 238); /* @seashell */
    margin-top: 30px;
    padding-top: 30px;
    position: relative;
  }
  .steps .not-first:before {
    content: "";
    border-top: 1px solid rgb(238, 238, 238); /* @seashell */
    position: absolute;
    top: -1px;
    left: -60px;
    width: calc(100% + 60px);
    height: 1px;
  }
  .intro .icon,
  .steps .icon {
    display: inline-block;
    border: 3px solid rgb(238, 238, 238); /* @seashell */
    padding: 9px;
    border-radius: 10px;
  }
  .intro .icon {
    background: white;
    border-color: white;
  }
  .steps .icon {
    margin-bottom: 20px;
    float: right;
    margin-top: -10px;
    margin-left: 20px;
  }
  .steps .icon img {
    display: block;
  }
  .steps .icons {
    margin-top: 20px;
  }
  .steps .icons img,
  .steps .icons svg {
    margin-right: 25px;
  }


  /* =Promotions
  ----------------------------------------------- */
  .download {
    background-color: rgb(176, 176, 176);
  }
  .feedback {
    background-color: rgb(153, 153, 153); /* @nickel */
  }

  .download.lime {
    background-color: rgb(218, 243, 121); /* @lime */
    background-color: rgb(198, 223, 101); /* 4% darker */
  }
  .feedback.lime {
    background-color: rgb(218, 243, 121); /* @lime */
    background-color: rgb(178, 203, 81); /* 8% darker */
  }

  .download.cucumber {
    background-color: rgb(153, 248, 115); /* @cucumber */
    background-color: rgb(133, 228, 95); /* 4% darker */
  }
  .feedback.cucumber {
    background-color: rgb(153, 248, 115); /* @cucumber */
    background-color: rgb(113, 208, 75); /* 8% darker */
  }

  .download.blueberry {
    background-color: rgb(40, 221, 181); /* @blueberry */
  }
  .feedback.blueberry {
    background-color: rgb(40, 221, 181); /* @blueberry */
    background-color: rgb(20, 201, 161); /* 4% darker */
  }

  .download.boysenberry {
    background-color: rgb(101, 152, 254); /* @boysenberry */
  }
  .feedback.boysenberry {
    background-color: rgb(101, 152, 254); /* @boysenberry */
    background-color: rgb(91, 132, 234); /* 4% darker */
  }

  .download.plumb {
    background-color: rgb(193, 76, 172); /* @plumb */
  }
  .feedback.plumb {
    background-color: rgb(193, 76, 172); /* @plumb */
    background-color: rgb(173, 56, 152); /* 4% darker */
  }

  .download.strawberry {
    background-color: rgb(250, 56, 136); /* @strawberry */
  }
  .feedback.strawberry {
    background-color: rgb(250, 56, 136); /* @strawberry */
    background-color: rgb(230, 36, 116); /* 4% darker */
  }

  .download.apple {
    background-color: rgb(255, 49, 59); /* @apple */
  }
  .feedback.apple {
    background-color: rgb(255, 49, 59); /* @apple */
    background-color: rgb(235, 29, 39); /* 4% darker */
  }

  .download.tangerine {
    background-color: rgb(255, 204, 0); /* @tangerine */
  }
  .feedback.tangerine {
    background-color: rgb(255, 204, 0); /* @tangerine */
    background-color: rgb(235, 184, 0); /* 4% darker */
  }

  .download.orange {
    background-color: rgb(250, 134, 40); /* @orange */
  }
  .feedback.orange {
    background-color: rgb(250, 134, 40); /* @orange */
    background-color: rgb(230, 114, 20); /* 4% darker */
  }

  .tip {
    font-size: 14px;
  }
  .tip h2 {
    font-size: inherit;
    color: black;
  }
  .tip svg,
  .tip img {
    margin-right: 5px;
  }
  .tip h2,
  .tip p {
    display: inline-block;
  }
  .tip p {
    color: rgb(102, 102, 102); /* @tin */
  }
  .tip svg,
  .tip img {
    color: rgb(204, 204, 204); /* @aluminum */
    vertical-align: middle;
  }
  .download img {
    vertical-align: top;
  }
  .download,
  .feedback {
    border-width: 0;
  }
  .download h2 {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }
  .download h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    font-size: 24px;
    line-height: 35px;
  }
  .download h2,
  .download p {
    display: inline-block;
    vertical-align: middle;
  }
  .download p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .download p img {
    margin: 5px;
  }
  .feedback {
    font-size: 14px;
    color: white;
  }
  .feedback a {
    color: black;
  }


  /* =Footer
  ----------------------------------------------- */
  .footer {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: rgb(102, 102, 102); /* @tin */
  }
  .footer h2 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .footer .unsubscribe {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .mute {
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
  }
  ul.mute,
  ul.mute li {
    list-style: none;
    padding-left: 0;
  }

  @media (min-width: 600px) {
    .footer h2 {
      float: left;
    }
    .footer .unsubscribe {
      margin-bottom: 0 !important;
      line-height: 30px;
      float: right;
    }
  }
