
/*
  Minimal styles, for public-facing pages that don’t require a login.

  Here are some examples…

  Promotional Site
  http://getctzn.com

  Shareable Mix Page
  http://www.ctznapp.com/mix/84C0E923
*/


  /* =Elements
  ----------------------------------------------- */
  html, body {
    height: 100%;
  }
  body {
    font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; /* @regular */
    padding: 0;
    margin: 0;
    width: 100%;
  }

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
    height: auto;
  }


  /* =Type
  ----------------------------------------------- */
  h1, h2, h3, h4, h5, h6 {
    margin-top    : 1.5em;  /* @line-height */
    margin-bottom : 0.75em; /* @line-height / 2 */
  }
  p, ol, ul, dl {
    margin-top    : 0.75em; /* @line-height / 2 */
    margin-bottom : 0.75em;
  }

  h1 {
    font-size     : 1.875em;   /* 30px / @font-size */
    line-height   : 1.4em;     /* 42px / 30px  */
    margin-top    : 1.4em;
    margin-bottom : 0.7em;     /* 1.4em / 2 */
  }
  h2 {
    font-size     : 1.5em;     /* 24px / @font-size */
  }
  h3 {
    font-size     : 1.3125em;  /* 21px / @font-size */
    line-height   : 1.4285714286em; /* 30px / 21px */
    margin-top    : 1.4285714286em;
    margin-bottom : 0.7142857143em; /* 1.4285714286em / 2 */
  }
  h4, h5, h6 {
    font-size: inherit;
  }

  /* OPTIONAL: Increase the font size on big screens. */
  @media (min-width: 600px) and (min-height: 600px) {
    body {
      font-size: 112.5%;
    }
  }
  @media (min-width: 800px) and (min-height: 800px) {
    body {
      font-size: 125%;
    }
  }
  @media (min-width: 1000px) and (min-height: 1000px) {
    body {
      font-size: 137.5%;
    }
  }
  @media (min-width: 1200px) and (min-height: 1200px) {
    body {
      font-size: 150%;
    }
  }


  /* =Containers
  ----------------------------------------------- */
  body {
    display: table;
  }
  header,
  section,
  footer,
  main {
    display: table-row;
  }
  .container {
    display: table-cell;
    vertical-align: middle;
  }
  header  .container,
  section .container,
  footer  .container {
    height: 1px;
  }

  header .container,
  footer .about,
  footer .legal {
    padding: 0.75em;
    background: rgb(51, 51, 51);
    color: white;
    text-align: center;
  }
  main .container {
    padding: 1.5em 1.5em 4.5em;
  }
  footer .about {
    background: black;
  }


  /* =Header / Footer
  ----------------------------------------------- */
  header h2 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
  header h2 a {
    display: block;
  }
  header h2 svg.icon {
    width: 2.5em; /* 40px / @font-size */
    height: 1.5em;  /* @line-heigt */
    vertical-align: top;
  }
  footer .about {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    padding: 1.5em;
    color: rgb(153, 153, 153); /* @nickel */
  }
  footer .about svg.icon {
    width: 2.5em;   /* 40px / @font-size */
    height: 1.25em; /* 20px / @font-size */
    vertical-align: baseline;
    color: white;
  }
  footer .legal {
    margin: 0;
    color: rgb(102, 102, 102); /* @tin */
    font-size: 0.75em;
    line-height: 2em;
  }


  /* =Main
  ----------------------------------------------- */
  main {
    background-color: rgb(218, 243, 121); /* @lime */
    color: black;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
  }
  main h1.logo {
    font-size: 4em;
    line-height: 1;
    margin: 0.5em auto 0;
    color: black;
  }
  main h1.logo svg.icon {
    width : 2.6354166667em; /* 253px / 96px */
    height: 1em;            /*  96px / 96px */
  }
  main h1.logo + h2 {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @proxima-bold */
    font-weight: bold;
  }
  main h2 strong {
    color: white;
    font-weight: inherit;
  }

  #color {
    transition: background-color 0.2s;
  }
  .lime {
    background-color: rgb(218, 243, 121); /* @lime */
  }
  .cucumber {
    background-color: rgb(153, 248, 115); /* @cucumber */
  }
  .blueberry {
    background-color: rgb(40, 221, 181); /* @blueberry */
  }
  .boysenberry {
    background-color: rgb(101, 152, 254); /* @boysenberry */
  }
  .plumb {
    background-color: rgb(193, 76, 172); /* @plumb */
  }
  .strawberry {
    background-color: rgb(250, 56, 136); /* @strawberry */
  }
  .apple {
    background-color: rgb(255, 49, 59); /* @apple */
  }
  .tangerine {
    background-color: rgb(255, 204, 0); /* @tangerine */
  }
  .orange {
    background-color: rgb(250, 134, 40); /* @orange */
  }

  main a {
    color: black;
  }
  main p {
    margin: 1.5em 0 0;
  }


  /* =Buttons
  ----------------------------------------------- */
  .action a,
  button {
    display: inline-block;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-width: 0;
    font-size: inherit;
    font-weight: normal;
    padding: 0.375em 1.125em;
    line-height: 1.5em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    text-transform: lowercase;
  }
  .action a:hover,
  .action a:active,
  .action a:focus,
  button:hover,
  button:active,
  button:focus {
    text-decoration: none;
    background-color: black;
    color: white;
  }

  ul.action,
  ul.action li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  ul.action {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  ul.action li + li {
    margin-top: 0.75em;
  }
  ul.action {
    margin-top: 3em;
  }
  .action svg.icon {
    vertical-align: middle;
    margin-right: 0.375em;
    width: 1.5em;
    height: 1.5em;
  }
  svg.icon path {
    fill: currentColor;
  }

  .mix .action a {
    min-width: 15em;
  }


  /* =Forms
  ----------------------------------------------- */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.375em 0.75em;
    line-height: 1.5;
    box-sizing: border-box;
    border-width: 0;
    display: inline-block;
    border-width: 0;
  }

  form p {
    position: relative;
    font-size: 1.25em;
  }
  @media (min-width: 50em) {
    .supports-placeholder form p {
      display: inline;
      margin: 0 0.125em;
    }
  }
  label {
    background: transparent;
    border-width: 0;
    padding: 0;
    margin: 0;
  }
  .supports-placeholder label {
    display: inline;
  }

  ::-webkit-input-placeholder {
    text-transform: lowercase;
  }
  ::-moz-placeholder {
    text-transform: lowercase;
  }
  :-ms-input-placeholder {
    text-transform: lowercase;
  }

  .supports-placeholder label > span:first-child {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }
  .supports-placeholder label br {
    display: none;
  }


  /* =Subscribe
  ----------------------------------------------- */
  .subscribe h3 {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @proxima-bold */
    font-weight: bold;
  }


  /* =Message
  ----------------------------------------------- */
  section.message .container {
    padding: 1.5em;
    font-size: 1.5em;
    text-align: center;
    background: black;
    color: white;
    overflow: hidden;
    transition: height 0.6s, padding 0.6s, color 0.2s;
  }
  section.message h1 {
    font-size: inherit;
  }
  section.message h1,
  section.message p {
    display: inline;
  }
  section.message p:before {
    content: " – ";
  }


  /* =Confirmation
  ----------------------------------------------- */
  .confirmation {
    text-align: left;
    max-width: 32em;
    margin-left: auto;
    margin-right: auto;
  }
  .confirmation svg.icon {
    color: white;
  }
  .confirmation h1 {
    font-size: inherit;
    line-height: inherit;
  }
  .confirmation h1 {
    margin-top: 0.75em;
    margin-bottom: 0.375em;
    color: rgba(0, 0, 0, 0.95);
  }
  .confirmation h1 + p {
    margin-top: 0;
  }
  .confirmation p {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
  }
  .confirmation p.finish {
    margin-top: 1.125em;
    color: white;
    display: table;
  }
  .confirmation p.finish a {
    color: inherit;
  }
  .confirmation p.finish:before {
    content: "";
    display: block;
    border-top: 0.25em solid black;
    border-top-color: rgba(0, 0, 0, 0.95);
    margin-bottom: 1.125em;
  }
  @media (min-width: 30em) {
    .confirmation h1,
    .confirmation p {
      font-size: 1.25em;
      line-height: 1.2;
    } 
    .confirmation svg.icon {
      font-size: 1.25em;
    }
  }


  /* =Mix
  ----------------------------------------------- */
  .mix {
    max-width: 640px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: left;
  }
  .mix h1 {
    font-size: inherit;
    font-weight: inherit;
    padding-left: 48px;
    padding-bottom: 8px;
  }
  .mix h1 .avatar {
    margin-left: -48px;
    position: absolute;
    margin-top: -8px;
  }
  .mix h1 span {
    font-weight: bold;
  }
  .mix h1 strong {
    color: black;
  }
  .mix .video {
    margin-top: 0.75em;
    margin-bottom: 1.125em;
    background: black;
    color: white;
    box-shadow: 0 0 10px rgba(102, 102, 102, 0.5);
  }
  .mix .video video {
    display: block;
    max-width: 100%;
    height: auto;
    min-height: 50vh;
  }
  .mix .about {
    text-align: center;
  }

  /* Video not supported message */
  .video .message {
    padding: 1.5em;
  }
  .video .message h1,
  .video .message p {
    margin: 1.5em;
    font-size: inherit;
    max-width: 31.5em;
    text-align: left;
    padding: 0;
  }
  .video .message h1 {
    font-weight: bold;
  }
  .video .message p a {
    color: white;
  }


  /* =Icons
  ----------------------------------------------- */
  svg.icon {
    width : 1.5em; /* @line-height */
    height: 1.5em;
    vertical-align: middle;
    fill: currentColor; /* http://codepen.io/FWeinb/blog/quick-tip-svg-use-style-two-colors */
    transition: fill 0.2s;
  }


  /* =Avatars
  ----------------------------------------------- */
  .avatar img {
    border-radius: 100%;
    vertical-align: middle;
  }

  .avatar > span {
    display: inline-block;
    background-color: rgb(255, 203, 117); /* @cantaloupe */
    color: black;
    width       : 1.5em;
    line-height : 1.5em;
    border-radius: 100%;
    vertical-align: middle;
  }

  .avatar .clover {
    background-color: rgb(0, 235, 98); /* @clover */
  }
  .avatar .kiwi {
    background-color: rgb(0, 255, 208); /* @kiwi */
  }
  .avatar .grape {
    background-color: rgb(159, 104, 246); /* @grape */
  }
  .avatar .bluebird {
    background-color: rgb(0, 206,250); /* @bluebird */
  }
  .avatar .cantaloupe {
    background-color: rgb(255, 203, 117); /* @cantaloupe */
  }
  .avatar .cranberry {
    background-color: rgb(251, 59, 147); /* @cranberry */
  }
  .avatar .amethyst {
    background-color: rgb(255, 152, 248); /* @amethyst */
  }
  .avatar .sky {
    background-color: rgb(0, 255, 254); /* @sky */
  }
  .avatar .ocean {
    background-color: rgb(24, 57, 245); /* @ocean */
    color: white;
  }

  .avatar .size40 {
    font-size: 1.6666666667em; /* 2/3 x 40px / @font-size */
  }

  .avatar [data-content]:after {
    display: block;
    content: attr(data-content);
    speak: none;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.75;
  }


  /* =About
  ----------------------------------------------- */
  main .container > .about {
    margin: -1.5em -1.5em -4.5em;
  }
  div.about .header {
    padding: 2.5em 1.5em 3em;
  }
  div.about section {
    display: block;
    padding: 4em 1.5em 3em;
  }
  div.about section:last-child {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
  }
  div.about section h3 {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @proxima-bold */
    font-weight: bold;
  }

  /* @h2 */
  div.about section h3 {
    margin-top: 0;
    font-size: 1.5em;     /* 24px / @font-size */
  }

  div.about .feature h3 strong {
    color: white;
    font-weight: inherit;
  }
  @media (min-width: 20em) {
    div.about .feature h3 strong {
      display: block;
    }
  }
  div.about .text svg.icon {
    margin: 0 0.75em 0.75em;
    width: 2em;
    height: 2em;
    color: white;
  }
  div.about .text svg.icon:first-child {
    font-size: 1.25em;
  }

  /* OPTIONAL: Add space below groups of icons, for easier reading */
  div.about section .icons {
    margin-bottom: 1.5em;
  }

  /* OPTIONAL: Position the icons on the left */
  @media (min-width: 30em) {
    div.about .feature h3 {
      margin-bottom: 0;
    }
    div.about .feature p {
      margin-top: 0.375em;
      margin-bottom: 0;
    }
    div.about .feature .icons,
    div.about .feature h3 {
      display: inline-block;
      vertical-align: top;
      text-align: left;
    }
    div.about .feature .icons {
      margin-right: 1.5em;
    }
  }

  div.about .feature .text,
  div.about .feature .text + p {
    display: inline-block;
    vertical-align: middle;
  }
  div.about .feature .text + p {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  div.about .feature .email-image img {
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
  @media (min-width: 30em) {
    div.about .feature p.email-image {
      margin: 3em;
    }
  }


  /* =Privacy
  ----------------------------------------------- */
  main .container > .privacy  {
    margin: -1.5em -1.5em -4.5em;
    padding-top: 1.5em;
    padding-bottom: 3em;
    background: white;
    color: black;
    text-align: left;
  }
  @media (min-width: 30em) {
    main .container > .privacy  {
      padding-top: 3em;
      padding-bottom: 4.5em;
    }
  }
  .privacy > .container {
    display: block;
    max-width: 32em;
    margin-left: auto;
    margin-right: auto;
  }
  .privacy  h1 {
    margin-top: 0;
  }

