
/*-----------------------------------------------
    Styles for pages in the UI documentation
  ----------------------------------------------- */

  body.pattern {
    padding: 1.5em 1.5em 6em;

    /* TBD: Can this moved to shared.css ? */
    height: auto;
    min-height: 100%;
    box-sizing: border-box;

    background-color: rgb(0, 206, 250); /* @bluebird */
    background-color: rgb(250, 250, 250); /* @casper */
    background-color: rgb(101, 152, 254); /* @boysenberry */
    background-color: rgb(51, 51, 51); /* @iron */
    background-color: rgb(102, 102, 102); /* @tin */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.95);
  }

  body.pattern code {
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.95);
    padding: 0.75em;
  }
  body.pattern pre {
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.95);
    padding: 0.75em;
  }
  body.pattern pre code {
    padding: 0;
  }

  body.pattern mark {
    background-color: rgb(255, 255, 153); /* @banana */
  }

  header.pattern h2 {
    margin-top: 0;
  }
  header.pattern h2 svg.icon {
    width: auto;
    height: auto;
  }
  header.pattern h2,
  header.pattern nav {
    text-transform: lowercase;
  }
  @media (min-width: 600px) {
    header.pattern h2,
    header.pattern nav,
    header.pattern nav ul,
    header.pattern nav li {
      display: inline;
    }
  }
  header.pattern nav ul,
  header.pattern nav li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  header.pattern h2,
  header.pattern nav li {
    margin-right: 1em;
  }
  header.pattern h2 a,
  header.pattern nav a {
    color: inherit;
  }
  header.pattern h2 a:hover,
  header.pattern h2 a:active,
  header.pattern h2 a:focus {
    color: rgb(193, 16, 65); /* @raspberry */
  }
  header.pattern nav a {
    padding: 0.125em; /* 2px / @font-size */
    line-height: 1.25; /* @line-height - padding x 2 */
  }
  header.pattern nav .active a,
  header.pattern nav .active a[href],
  header.pattern nav .active a[href]:visited {
    background: transparent;
    color: inherit;
    text-decoration: none;
  }
  header.pattern nav .active a[href]:hover,
  header.pattern nav .active a[href]:active,
  header.pattern nav .active a[href]:focus {
    color: rgb(193, 16, 65); /* @raspberry */
  }
  .pattern.index h1,
  .pattern-list {
    text-transform: lowercase;
  }
  .pattern.index h1 {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 0;
  }
  .pattern-list h2 {
    font-weight: bold;
    font-family: inherit;
    font-size: 1.25em;
    line-height: inherit;
  }
  @media (min-width: 40em) {  
    .pattern-list {
      text-align: center;
    }
    .pattern.index h1,
    .pattern.index p {
      text-align: center;
    }
    .pattern-list section {
      display: inline-block;
      vertical-align: top;
      margin: 0 1.75em 1.75em;
      text-align: left;
      font-size: 125%;
    }
  }
  .pattern-list ul,
  .pattern-list li {
    /* @reset-list-style */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .pattern-list li a,
  header.pattern nav a {
    color: rgba(0, 0, 0, 0.25);
  }
  .pattern-list li a[href],
  header.pattern nav a[href] {
    color: rgb(250, 56, 136); /* @strawberry */
  }
  header.pattern nav a[href]:visited,
  .pattern-list   li a[href]:visited {
    color: inherit;
  }
  header.pattern nav a[href]:hover,
  header.pattern nav a[href]:active,
  header.pattern nav a[href]:focus,
  .pattern-list   li a[href]:hover,
  .pattern-list   li a[href]:active,
  .pattern-list   li a[href]:focus {
    color: rgb(193, 16, 65); /* @raspberry */
  }
  body.pattern p + code {
    margin-top: -0.5em;
    display: block;
  }

  body.pattern figure {
    margin-bottom: 3em;
  }


  /* Override the fixed-position styles, for demonstration purposes. */
   body.pattern section.push,
   body.pattern section.page {
    margin-bottom: 3em;
  }
  body.pattern .page {
    position: relative;
  }
  body.pattern .page > header {
    position: absolute;
  }
  body.pattern .page > header ~ form .submit {
    position: absolute;
  }

  body.pattern .start.page aside {
    position: relative;
  }

  /* SHIM: Add extra padding to the bottom of pages with forms, to prevent the virtual keyboard
           from obscuring the fields and buttons on Android (in standalone webview mode). */
  body.pattern .page >         form:last-child,
  body.pattern .page > form ~ aside:last-child,
  body.pattern .start.page >    div:last-child,
  body.pattern .post.page >     div:last-child {
    padding-bottom: 1.5em;
  }

  body.pattern .mix-editor .selected-images {
    position: relative;
    top: 0;
  }

  body.pattern header.primary,
  body.pattern ul.create {
    position: relative;
  }

  body.pattern section.editor.page {
    position: relative;
  }

  body.pattern section.loading,
  body.pattern section.loading.error,
  body.pattern section.developer-tools {
    position: relative;
    height: auto;
  }

  body.pattern .developer.action {
    position: static;
    margin-top: 1.5em;
  }

  section.pattern {
    margin-top: 6em;
  }

