
/*
  Public Page styles

  Examples:
  http://www.ctznapp.com/push/C50609F6/kaboom
  http://www.ctznapp.com/push/0094EAB8/milk-bookies

  Sections are grouped under headings with a “=” symbol,
  to make searching easier.

  When a style is used more than once, it sometimes has a “@keyword”
  in a comment next to it (to help with search and replace).

  For example…

  16px  @font-size
  24px  @line-height
*/


  /* =Elements
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */
  html, body {
    height: 100%;
  }
  body {
    background: white;
    color: black;
    font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  a {
    color: rgb(255, 49, 102); /* @pitaya */
    transition: opacity 0.2s, color 0.2s, background-color 0.2s;
  }
  a:hover,
  a:active,
  a:focus {
    color: rgb(235, 29, 82); /* @raspberry */
  }
  a img {
    border-width: 0;
  }

  /* Shrink images to fit the available space */
  img {
    max-width: 100%;
    height: auto;
  }

  /* Make new HTML elements look nice in older browsers */
  main, section, article, aside, nav, header, footer, figure {
    display: block;
  }


  /* =Type
  ----------------------------------------------- */
  h1, h2, h3, h4, h5, h6 {
    margin-top    : 1.5em;  /* @line-height */
    margin-bottom : 0.75em; /* @line-height / 2 */
  }
  p, ol, ul, dl {
    margin-top    : 0.75em; /* @line-height / 2 */
    margin-bottom : 0.75em;
  }

  figure {
    margin: 0;
  }

  h1 {
    font-size     : 1.875em;   /* 30px / @font-size */
    line-height   : 1.4em;     /* 42px / 30px  */
    margin-top    : 1.4em;
    margin-bottom : 0.7em;     /* 1.4em / 2 */
  }

  /* OPTIONAL: Reduce the margin above the main headline,
  when it appears first in the main content area. */
  h1:first-child {
    margin-top    : 0.7em;     /* 1.4em / 2 */
  }

  h2 {
    font-size     : 1.5em;     /* 24px / @font-size */
  }
  h3 {
    font-size     : 1.3125em;  /* 21px / @font-size */
    line-height   : 1.4285714286em; /* 30px / 21px */
    margin-top    : 1.4285714286em;
    margin-bottom : 0.7142857143em; /* 1.4285714286em / 2 */
  }
  h4, h5, h6 {
    font-size: inherit;
  }

  /* OPTIONAL: Increase the font size on big screens. */
  @media screen and (min-width: 600px) and (min-height: 600px) {
    body {
      font-size: 112.5%;
    }
  }
  @media screen and (min-width: 800px) and (min-height: 800px) {
    body {
      font-size: 125%;
    }
  }
  @media screen and (min-width: 1000px) and (min-height: 1000px) {
    body {
      font-size: 137.5%;
    }
  }
  @media screen and (min-width: 1200px) and (min-height: 1200px) {
    body {
      font-size: 150%;
    }
  }


  /* =Avatars
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */

  /* Image */
  .avatar img {
    border-radius: 100%;
    vertical-align: middle;
  }

  /* OPTIONAL: Make image avatars scale with the font size */
  .avatar img[width="30"] {
    width : 1.875em; /* 30px / @font-size */
    height: 1.875em;
  }
  .avatar img {
    /* OPTIONAL: Show something while the image is loading (or if it fails to load). */
    background-color: rgba(0, 0, 0, 0.25);
  }

  /* Letter */
  .avatar > span {
    display: inline-block;
    background-color: rgb(204, 204, 204); /* @aluminum */
    color: black;
    width       : 1.5em;
    line-height : 1.5em;
    border-radius: 100%;
    vertical-align: middle;
  }
  .avatar *[data-content]:after {
    display: block;
    content: attr(data-content);
    speak: none;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.75;
  }

  /* Colors */
  .avatar .clover {
    background-color: rgb(0, 235, 98); /* @clover */
  }
  .avatar .kiwi {
    background-color: rgb(0, 255, 208); /* @kiwi */
  }
  .avatar .grape {
    background-color: rgb(159, 104, 246); /* @grape */
  }
  .avatar .bluebird {
    background-color: rgb(0, 206, 250); /* @bluebird */
  }
  .avatar .cantaloupe {
    background-color: rgb(255, 203, 117); /* @cantaloupe */
  }
  .avatar .cranberry {
    background-color: rgb(251, 59, 147); /* @cranberry */
  }
  .avatar .amethyst {
    background-color: rgb(255, 152, 248); /* @amethyst */
  }
  .avatar .sky {
    background-color: rgb(0, 255, 254); /* @sky */
  }
  .avatar .ocean {
    background-color: rgb(24, 57, 245); /* @ocean */
    color: white;
  }

  /* Sizes */
  .avatar .size30 {
    font-size: 1.25em; /* 2/3 x 30px / @font-size */
  }


  /* =Icons
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */
  svg.icon {
    width : 1.5em; /* @line-height */
    height: 1.5em;
    vertical-align: middle;
    fill: currentColor; /* http://codepen.io/FWeinb/blog/quick-tip-svg-use-style-two-colors */
    transition: fill 0.2s;
  }


  /* =Buttons
  ----------------------------------------------- */
  button,
  .action a {
    margin: 0;
    border-width: 0;

    cursor: pointer;
    font-size: inherit;
    font-family: inherit;

    font-weight: normal;
    font-size: inherit;
    text-transform: lowercase;

    padding: 0.375em 1.125em;
    line-height: 1.5em;
    border-radius: 0.25em;

    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
    background: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0.25);
    color: white;

    display: inline-block;
    text-decoration: none;
  }
  button:hover,
  button:active,
  button:focus,
  .action a:hover,
  .action a:active,
  .action a:focus {
    background-color: black;
    color: white;
  }

  .page > div {
    padding: 1.25em; /* @page-padding */
  }


  /* =Search
  ----------------------------------------------- */
  /* OPTIONAL: Hide the label */
  .search label span {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }

  .search p {
    margin: 0;
    padding: 1.5em 1.5em;
    text-align: center;
  }
  .search input {
    font-family: inherit;
    font-size: inherit;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    line-height: 1.5;
    min-height: 1.5em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    transition: border-color 0.2s;
    display: inline-block;
    background: white;
    border: 0.125em solid rgb(222, 222, 222); /* @silver */
    margin-top: 0.25em;
    margin-top: 0;
    border-radius: 0.25em;
    width: 10em;
    -webkit-appearance: none;
  }
  .push-card.public.page + footer.primary .search input {
    border-color: transparent;
  }
  @media (min-width: 30em) {
    .search input {
      width: 15em;
    }
  }
  @media (min-width: 40em) {
    .search input {
      width: 25em;
    }
  }
  @media (min-width: 20em) and (min-height: 20em) {
    .search p {
      padding-top: 4.5em;
      padding-bottom: 4.5em;
    }
  }
  @media (min-width: 30em) and (min-height: 30em) {
    .search p {
      padding-top: 9em;
      padding-bottom: 9em;
    }
  }

  .search .submit {
    margin-top: 1.5em;
    text-align: right;
  }
  .search .submit button {
    font-size: 1.25em;
    font-weight: inherit;
  }

  /* SHIM: Prevent whitespace below the no results message, when there’s a push color in the background. */
  .no-results {
    margin-bottom: 0;
  }
  .no-results a {
    color: inherit;
  }


  /* =Page Header
  ----------------------------------------------- */
  .page > header {
    text-align: center;
    padding: 0.75em 1.25em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    color: black;
    border-bottom: 0.0625em solid transparent;
    position: relative;
    z-index: 2;
    text-align: center;
  }
  .page > header h1 {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-transform: lowercase;

    /* @wrap-long-words */
    word-wrap     : break-word;
    overflow-wrap : break-word;
  }

  .page > header a {
    color: rgb(204, 204, 204); /* @aluminum */
    color: rgba(255, 255, 255, 0.8);
  }
  .page > header a:hover,
  .page > header a:active,
  .page > header a:focus {
    color: white;
  }
  @media (min-width: 15em) {
    .page > header .action {
      position: absolute;
      top: 0;
      padding: 0.75em 1em; /* @line-height */ /* @header-padding */
      border: 0 solid rgb(44, 44, 44); /* @thorium */
    }
  }
  .page > header .action {
    right: 0;
    border-left-width: 0.0625em;
  }
  .page > header .action {
    margin-top: 0;
    padding: 0.375em;
  }
  .page > header .action a {
    color: white;
    color: rgba(255, 255, 255, 0.95);
  }


  @media (min-width: 15em) {
    .page > header {
      text-align: left;
      padding-top: 0.75em;
    }
    .page > header.with-button {
      padding-right: 9em;
    }
  }
  @media screen and (min-width: 20em) and (min-height: 20em) {

    /* OPTIONAL: Make the header sticky */
    main.page {
      padding-top: 3.0625em; /* (@line-height x 2) + (1px / @font-size) */
    }
    .page > header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

    /* OPTIONAL: Limit the headline to a single line. */
    .page > header h1 {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;

      white-space: nowrap;
      word-wrap     : inherit;
      overflow-wrap : inherit;
    }
  }


  /* =Footer
  ----------------------------------------------- */
  footer.primary {
    background-color: white;
    color: black;
    color: rgba(0, 0, 0, 0.95);
  }
  footer.primary .about,
  footer.primary .legal {
    padding: 0.75em;
    background: rgb(51, 51, 51);
    color: white;
    text-align: center;
  }

  /* DEPRECATED: (Use the .good and .ctzn elements instead.) */
  footer.primary .about {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    padding: 1.5em;
    background: black;
    color: rgb(153, 153, 153); /* @nickel */
  }
  footer.primary .about svg.icon {
    width: 2.5em;   /* 40px / @font-size */
    height: 1.25em; /* 20px / @font-size */
    vertical-align: baseline;
    color: white;
  }

  footer.primary .legal {
    margin: 0;
    color: rgb(102, 102, 102); /* @tin */
    font-size: 0.75em; /* 12px / @font-size */
    line-height: 2; /* @line-height / 0.75em */
  }
  footer.primary .legal ul,
  footer.primary .legal li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  footer.primary .legal a {
    color: inherit;
    text-decoration: none;
  }
  footer.primary .legal a:hover,
  footer.primary .legal a:active,
  footer.primary .legal a:focus {
    color: white;
  }

  footer.primary .legal ul,
  footer.primary .legal p,
  footer.primary .legal li {
    margin: 0;
    display: inline-block;
  }
  footer.primary .legal p,
  footer.primary .legal li {
    margin: 0 0.3125em; /* @line-height / 4 */
  }

  .push-card + footer.primary {
    margin-top: 0;
  }
  .push-card + footer.primary {
    background-color: rgb(246, 246, 246); /* @casper */
  }
  .push-card.lime + footer.primary {
    background-color: rgb(176, 224, 0); /* @lime */
  }
  .push-card.green + footer.primary {
    background-color: rgb(60, 210, 0); /* @green */
  }
  .push-card.teal + footer.primary {
    background-color: rgb(0, 204, 204); /* @teal */
  }
  .push-card.blue + footer.primary {
    background-color: rgb(101, 152, 254); /* @blue */
  }
  .push-card.periwinkle + footer.primary {
    background-color: rgb(109, 90, 219); /* @periwinkle */
  }
  .push-card.purple + footer.primary {
    background-color: rgb(181, 62, 194); /* @purple */
  }
  .push-card.magenta + footer.primary {
    background-color: rgb(250, 44, 162); /* @magenta */
  }
  .push-card.red + footer.primary {
    background-color: rgb(255, 0, 86); /* @red */
  }
  .push-card.gold + footer.primary {
    background-color: rgb(255, 204, 0); /* @gold */
  }
  .push-card.orange + footer.primary {
    background-color: rgb(255, 117, 9); /* @orange */
  }


  footer.primary > div {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  footer.primary > div:after {
    content: "";
    display: table;
    clear: both;
  }
  footer.primary .good,
  footer.primary .ctzn {
    width: 50%;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
  footer.primary .ctzn {
    border-right: 0.0625em solid;
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
    line-height: 2.25;
    float: left;
    text-align: right;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer.primary .good {
    display: block;
    padding-top: 0.375em;
    margin: 0;
    float: right;
    text-align: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  footer.primary .ctzn span,
  footer.primary .good span {
    font-size: 0.875em;
    text-transform: lowercase;
  }
  footer.primary .ctzn a {
    margin-left: 0.5em;
  }

  footer.primary .good a {
    display: table;
    color: inherit;
  }
  footer.primary .good a:hover,
  footer.primary .good a:active,
  footer.primary .good a:focus {
    color: rgb(102, 102, 102); /* @tin */
  }
  .push-card + footer.primary .good a:hover,
  .push-card + footer.primary .good a:active,
  .push-card + footer.primary .good a:focus {
    color: white;
  }

  footer.primary .ctzn a {
    display: inline-block;
    border-radius: 50%;
    width: 3.75em; /* 60px / @font-size */
    line-height: 3.75em;
    text-align: center;
    background-color: rgb(150, 255, 108); /* @honeydew */
    color: black;
    font-size: 1.25em;
  }
  footer.primary .ctzn a:hover,
  footer.primary .ctzn a:active,
  footer.primary .ctzn a:focus {
    background: black;
    color: white;
  }

  footer.primary .ctzn .icon {
    width: 2.625em; /* 42px / @font-size */
    height: 3.75em; /* 60px / @font-size */
    vertical-align: top;
    color: inherit;
  }
  footer.primary .good .icon {
    margin-top: 0.375em;
    display: block;
    width: 3em; /* 40px / @font-size */
    height: 1.5em; /* 20px / @font-size */
    color: inherit;
    vertical-align: middle;
  }


  /* =Push Card
  ----------------------------------------------- */
  .public.page {
    text-align: center;
  }

  .push-card {
    background-color: rgb(204, 204, 204); /* @aluminum */
    color: black;
    color: rgba(0, 0, 0, 0.95);
  }

  .push-card.lime {
    background-color: rgb(176, 224, 0); /* @lime */
  }
  .push-card.green {
    background-color: rgb(60, 210, 0); /* @green */
  }
  .push-card.teal {
    background-color: rgb(0, 204, 204); /* @teal */
  }
  .push-card.blue {
    background-color: rgb(101, 152, 254); /* @blue */
  }
  .push-card.periwinkle {
    background-color: rgb(109, 90, 219); /* @periwinkle */
  }
  .push-card.purple {
    background-color: rgb(181, 62, 194); /* @purple */
  }
  .push-card.magenta {
    background-color: rgb(250, 44, 162); /* @magenta */
  }
  .push-card.red {
    background-color: rgb(255, 0, 86); /* @red */
  }
  .push-card.gold {
    background-color: rgb(255, 204, 0); /* @gold */
  }
  .push-card.orange {
    background-color: rgb(255, 117, 9); /* @orange */
  }


  .push-card .details .name {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900; /* @extra-bold */
    font-size: 1.875em;
    line-height: 1.2; /* @line-height x 1.5 / 1.875em */
    margin-top: 0;
    margin-bottom: 0;
    max-width: 15.730816403em; /* (32em - 2.5em) / 1.875em */
    margin-left: auto;
    margin-right: auto;

    /* @wrap-long-words */
    word-wrap     : break-word;
    overflow-wrap : break-word;
  }
  .push-card .details .about {
    margin-top: 0.375em;
    margin-bottom: 0.375em;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    max-width: 29.5em; /* 32em - 2.5em */
    margin-left: auto;
    margin-right: auto;
  }

  /* OPTIONAL: Make some of the content white instead of black. */
  .push-card .name {
    color: white;
    color: rgba(255, 255, 255, 0.95);
  }

  /* For the “Join us on CTZN” link on the public page for a push */
  .push-card.page .details .name a {
    color: inherit;
  }
  .push-card.page .details .about p,
  .push-card.page .details .about form {
    display: inline;
    margin: 0;
    padding: 0;
  }
  .push-card.page .details .about form button {
    min-width: 0 !important;
    max-width: none !important;
    margin: 0 !important;
    width: auto;
    display: inline;
    padding: 0;
    font-size: inherit;
    background-color: transparent;
    color: inherit;
    text-decoration: underline;
    text-transform: none;
    border-width: 0;
    cursor: pointer;
  }


  /* =Public Page
  ----------------------------------------------- */
  .push-card.public.page > header {
    background-color: rgb(204, 204, 204); /* @aluminum */
    color: white;
  }

  /* Push Colors */
  .push-card.public.page.lime > header {
    background-color: rgb(176, 224, 0); /* @lime */
  }
  .push-card.public.page.green > header {
    background-color: rgb(60, 210, 0); /* @green */
  }
  .push-card.public.page.teal > header {
    background-color: rgb(0, 204, 204); /* @teal */
  }
  .push-card.public.page.blue > header {
    background-color: rgb(101, 152, 254); /* @blue */
  }
  .push-card.public.page.periwinkle > header {
    background-color: rgb(109, 90, 219); /* @periwinkle */
  }
  .push-card.public.page.purple > header {
    background-color: rgb(181, 62, 194); /* @purple */
  }
  .push-card.public.page.magenta > header {
    background-color: rgb(250, 44, 162); /* @magenta */
  }
  .push-card.public.page.red > header {
    background-color: rgb(255, 0, 86); /* @red */
  }
  .push-card.public.page.gold > header {
    background-color: rgb(255, 204, 0); /* @gold */
  }
  .push-card.public.page.orange > header {
    background-color: rgb(255, 117, 9); /* @orange */
  }

  .public.page > header h1 {
    text-transform: none;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
  }
  .public.page > header h1 a {
    text-decoration: none;
    color: inherit;
  }
  .public.page > header .action {
    border-left-width: 0;
  }
  .public.page > header h1.animated {
    transition: opacity 0.2s;
  }
  .scrolled-up .public.page > header h1 {
    opacity: 0;
  }

  /* SHIM: Prevent the invisible header from taking up space on tiny screens */
  .scrolled-up .public.page > header {
    min-height: 3em;
  }
  .scrolled-up .public.page > header h1 {
    display: none;
  }

  .public.page .details {
    margin-top: 0;
    padding-top: 3.75em;
    padding-bottom: 3.75em;
  }
  .public.page .details .name a {
    text-decoration: none;
  }

  .public.page > h2 a {
    color: inherit;
  }

  .public.page .words,
  .public.page .words li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .public.page .words {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    /* @wrap-long-words */
    word-wrap     : break-word;
    overflow-wrap : break-word;
  }
  .public.page .words:first-child {
    margin-top: 0;
  }
  .public.page .words li {
    display: inline-block;
    margin-bottom: 0.375em;
  }
  .public.page .words a {
    text-decoration: none;
  }
  .public.page:not(.push-card) .words a {
    color: rgb(102, 102, 102); /* @tin */
    background-color: rgb(246, 246, 246); /* @casper */
  }
  .public.page .words a:hover,
  .public.page .words a:active,
  .public.page .words a:focus {
    color: white;
    background-color: black;
  }

  .featured-posts,
  .featured-posts li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .featured-posts {
    margin: 0;
  }
  .featured-posts li {
    max-width: none;
  }
  .public.page .featured-posts     + nav,
  .public.page .featured-post-item + nav {
    border-top-width: 0;
    margin-top: 2.25em;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 2.25em;
  }
  .public.page nav p:first-child {
    margin-top: 0;
  }
  .public.page nav p:last-child {
    margin-bottom: 0;
  }

  .public.page nav {
    margin-top: 0;
    padding-bottom: 2.25em;
    padding-top: 2.25em;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }

  .public.page nav {
    border-top: 0.0625em solid rgba(0, 0, 0, 0.2);
  }
  .public.page nav.view-all {
    border-bottom: 0.0625em solid rgba(0, 0, 0, 0.2);
  }
  .public.page .words {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .public.page .words,
  .public.page .words + h2 {
    padding-left: 1.25em;
    padding-right: 1.25em;
  }

  .featured-post-item header {
    position: relative;

    padding: 1.5em;
    margin-bottom: 0;
    font-size: 0.75em; /* 12px / @font-size */
  }

  .featured-post-item {
    border-style: solid;
    border-width: 0.75em 0.75em 1.5em;
    background-color: white;
    border-color: white;
    text-align: center;
  }

  /* Attempt to make long text posts easier to read. */
  .featured-post-item.with-long-text .text p {
    text-align: left;
  }

  .featured-post-item.without-text {
    border-width: 0.75em;
  }  
  .featured-post-item.without-text header {
    padding-bottom: 1.5em;
  }

  /* OPTIONAL: Show thicker border around each post. */
  @media screen and (min-width: 30em) {
    .featured-post-item {
      border-width: 0.75em 0.75em 1.875em;
    }
    .featured-post-item.without-text {
      border-width: 0.75em;
    }
    .featured-post-item.without-text header {
      padding-bottom: 1.875em;
    }
    .public.page .words {
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }
  @media screen and (min-width: 40em) {
    .featured-post-item {
      border-width: 1.5em 1.5em 3em;
    }
    .featured-post-item.without-text {
      border-width: 1.5em;
    }
    .featured-post-item.without-text header {
      padding-bottom: 3em;
    }
    .public.page .words {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
  }
  @media screen and (min-width: 50em) {
    .featured-post-item {
      border-width: 2.25em 2.25em 3em;
    }
    .featured-post-item.without-text {
      border-width: 2.25em;
    }
    .public.page .words {
      padding-left: 2.25em;
      padding-right: 2.25em;
    }
  }
  @media screen and (min-width: 60em) {
    .featured-post-item,
    .featured-post-item.without-text {
      border-width: 3em;
    }
    .public.page .words {
      padding-left: 3em;
      padding-right: 3em;
    }
  }

  /* SHIM: Reset styles intended for page containers */
  .page > .featured-post-item {
    margin: 0;
    max-width: none;
    padding: 0;
  }
  .page > article:last-child {
    padding-bottom: 0;
  }

  /* Make the text items different colors so it’s easier to tell them apart. */
  .featured-post-item {
    border-color: white;
    background-color: white;
  }
  .featured-post-item.with-multiple-images {
    background-color: black;
  }
  .featured-post-item .text {
    background: white;
  }

  .featured-posts > li:nth-child(3n+1) .featured-post-item {
    border-color: rgb(222, 222, 222); /* @silver */
    background-color: rgb(222, 222, 222); /* @silver */
  }
  .featured-posts > li:nth-child(3n+1) .featured-post-item.with-multiple-images {
    background-color: white;
  }
  .featured-posts > li:nth-child(3n+1) .featured-post-item .text {
    background: rgb(222, 222, 222); /* @silver */
  }

  .featured-posts > li:nth-child(3n+2) .featured-post-item {
    border-color: rgb(238, 238, 238); /* @seashell */
    background-color: rgb(238, 238, 238); /* @seashell */
  }
  .featured-posts > li:nth-child(3n+2) .featured-post-item.with-multiple-images {
    background-color: white;
  }
  .featured-posts > li:nth-child(3n+2) .featured-post-item .text {
    background: rgb(238, 238, 238); /* @seashell */
  }

  .featured-posts > li:nth-child(3n+3) .featured-post-item {
    border-color: white;
    background-color: white;
  }
  .featured-posts > li:nth-child(3n+3) .featured-post-item.with-multiple-images {
    background-color: black;
  }
  .featured-posts > li:nth-child(3n+3) .featured-post-item .text {
    background: white;
  }

  .featured-post-item .text {
    padding: 1.25em 1.25em 2.5em;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;

    /* @wrap-long-words */
    word-wrap     : break-word;
    overflow-wrap : break-word;
  }

  /* SHIM: Make space for a multi-line header on small screens */
  .featured-post-item header {
    min-height: 3em; /* @line-height x 2 */
  }
  .featured-post-item .text {
    padding-bottom: 3.625em; /* normal amount of padding + (@line-height * header.font-size)       2.5em + (1.5em * 0.75em) */
  }
  @media screen and (min-width: 30em) {
    .featured-post-item header {
      min-height: 0;
    }
    .featured-post-item .text {
      padding-bottom: 2.5em;
    }
  }

  @media screen and (min-width: 40em) {
    .featured-post-item .text {
      padding: 1.875em 1.875em 3em;
    }
  }

  @media screen and (min-width: 60em) {
    .featured-post-item .text {
      padding: 2.25em 2.25em 3.75em;
    }
  }

  /* OPTIONAL: Make add more whitespace above and below text-only posts. */
  .featured-post-item:not(.with-long-text) header + .text > div {
    padding-top: 10vw; /* This number is arbitrary, but seems to work well. */
    padding-bottom: 10vw;
  }

  @media screen and (max-width: 29.9em) {
    .featured-post-item .text p {
      line-height: 1.25;
      margin-top   : 0.625em; /* 1.25em / 2 */
      margin-bottom: 0.625em;
    }
  }

  @media screen and (min-width: 40em) {
    .featured-post-item .text {
      font-size: 1.125em;
    }
  }
  @media screen and (min-width: 60em) {
    .featured-post-item .text {
      font-size: 1.25em;
    }
  }
  @media screen and (min-width: 80em) {
    .featured-post-item .text {
      font-size: 1.375em;
    }
  }
  @media screen and (min-width: 100em) {
    .featured-post-item .text {
      font-size: 1.5em;
    }
  }

  .featured-post-item .text p {
    margin-right: auto;
    margin-left: auto;
    max-width: 40em;
    color: rgb(51, 51, 51); /* @iron */
    color: rgba(0, 0, 0, 0.8);
  }
  .featured-post-item .text p:first-child {
    margin-top: 0;
  }
  .featured-post-item .text p:last-child {
    margin-bottom: 0;
  }
  .featured-post-item .text p a {
    text-decoration: none;
    color: inherit;
  }
  .featured-post-item .text p a:hover,
  .featured-post-item .text p a:active,
  .featured-post-item .text p a:focus {
    text-decoration: underline;
  }

  .featured-post-item header h3,
  .featured-post-item header p {
      float: none;
      display: inline;
      font-size: inherit;
      line-height: inherit;
      text-align: left;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
  }
  .featured-post-item header h3,
  .featured-post-item header .avatar {
    margin-right: 0.5em;
  }
  .featured-post-item header p {
    color: inherit;
    font-size: 0.875em;

    /* Attempt to keep the date on one line */
    display: inline-block;
  }
  .featured-post-item header p a {
    color: inherit;
    text-decoration: none;
    display: inline-block; /* Attempt to keep the date on one line */
  }

  .featured-post-item header p a:hover,
  .featured-post-item header p a:active,
  .featured-post-item header p a:focus {
      color: black;
  }
  .featured-post-item header time {
    color: inherit;
    opacity: 0.5;
  }

  /* OPTIONAL: Position post headers at the bottom */
  .featured-post-item {
    position: relative;
    z-index: 1;
  }
  .featured-post-item header ~ .image:last-child:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, transparent 60%, rgba(0, 0, 0, 0.75));
  }
  .featured-post-item header {
    padding: 0 1.5em;
    background: transparent;
    box-shadow: none;
    color: black;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 2;
  }
  .featured-post-item header a:hover,
  .featured-post-item header a:active,
  .featured-post-item header a:focus {
    color: black;
    text-decoration: underline;
  }

  .featured-post-item.without-text header {
    color: white;
  }
  .featured-post-item.without-text header a:hover,
  .featured-post-item.without-text header a:active,
  .featured-post-item.without-text header a:focus {
    color: white;
  }

  /* OPTIONAL: Make images stick to the left and right edge of the post */
  .featured-post-item .image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  /* OPTIONAL: Show a preview image while the real image is loading */
  .featured-post-item .image figure.with-padding {
    position: relative;

    /* KUDOS: http://stackoverflow.com/questions/12224320/defined-edges-with-css3-filter-blur#answer-23370117 */
    overflow: hidden;

    /* TRICKY: This causes iOS 7 & 8 to crash.
    -webkit-transform: translate3d(0, 0, 0);
    */
  }
  .featured-post-item .image figure.with-padding img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 0;
    min-height: 0;
    max-width: none;
  }
  .featured-post-item .image figure img.preview {
    margin: calc(-3em);
    width: calc(100% + 6em) !important;
    -webkit-filter: blur(1.5em);
            filter: blur(1.5em);
  }

  /* OPTIONAL: Show an icon while the image is loading (if a preview images isn’t available) */
  .featured-post-item .image figure:not(.with-padding):not(.loaded) img {
    min-height: 200px;
    min-height: 25vw;

    /* @icon-picture */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17.457 1.228h-14.912c-0.726 0-1.316 0.589-1.316 1.316v14.912c0 0.726 0.589 1.316 1.316 1.316h14.912c0.726 0 1.316-0.589 1.316-1.316v-14.912c0-0.726-0.589-1.316-1.316-1.316zM17.237 17.237h-14.474v-14.474h14.474v14.474z" fill="rgba(0, 0, 0, 0.25)"></path><path d="M13.859 7.588c0 0.678-0.55 1.228-1.228 1.228s-1.228-0.55-1.228-1.228c0-0.678 0.55-1.228 1.228-1.228s1.228 0.55 1.228 1.228z" fill="rgba(0, 0, 0, 0.25)"></path><path d="M4.737 15.833h10.526c0.193 0 0.351-0.158 0.351-0.351v-3.509c0-0.122-0.063-0.236-0.167-0.299s-0.233-0.070-0.341-0.016l-3.351 1.676-6.861-3.43c-0.109-0.054-0.238-0.049-0.341 0.016s-0.167 0.176-0.167 0.299v5.263c0 0.193 0.157 0.351 0.351 0.351z" fill="rgba(0, 0, 0, 0.25)"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
  }

  /* OPTIONAL: Make details fill more of the viewport height on tall screens */
  @media screen and (min-height: 40em) {
    .public.page .details {
      max-width: none;

      min-height: 50vh;

      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;

      display: -webkit-flex;
      display:         flex;

      -webkit-flex-direction: row;
              flex-direction: row;

      -webkit-align-items: center;
              align-items: center;

      -webkit-align-content: center;
              align-content: center;

      -webkit-justify-content: center;
              justify-content: center;

      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
    }
    .public.page .details .name {
      font-size: 10vmin;
    }
  }

  /* OPTIONAL: Arrange the posts in columns. */
  @media screen and (min-width: 60em) {
    .featured-post-item:after {
      content: "";
      display: table;
      clear: both;
    }
    .featured-post-item .first-in-row {
      clear: both;
    }

    .featured-post-item .image,
    .featured-post-item .text {
      width: 100%;
      -webkit-flex-basis: 100%;
              flex-basis: 100%;
    }
    .featured-post-item .portrait,
    .featured-post-item header + .portrait + .text {
      width: 50%;
      -webkit-flex-basis: 50%;
              flex-basis: 50%;
    }

    /* Text on the RIGHT */
    .featured-post-item.with-one-portrait header:nth-last-child(3) {
      width: 50%;
      left: auto;
      right: 0;
    }
    .featured-post-item .portrait {
      float: left;
    }
    .featured-post-item header + .portrait + .text {
      float: left;
      padding-right: 0;
      padding-left: 3em;
    }

    /* OPTIONAL: Randomly arrange items on the left or right */

    /* Text on the LEFT */
    .featured-posts > li:nth-child(2n+1) .with-one-portrait header:nth-last-child(3) {
      width: 50%;
      left: 0;
      right: auto;
    }
    .featured-posts > li:nth-child(2n+1) .portrait {
      float: right;
    }
    .featured-posts > li:nth-child(2n+1) header + .portrait + .text {
      float: right;
      padding-right: 3em;
      padding-left: 0;
    }

    /* Text on the RIGHT */
    .featured-posts > li:nth-child(3n+2) .with-one-portrait header:nth-last-child(3) {
      width: 50%;
      left: auto;
      right: 0;
    }
    .featured-posts > li:nth-child(3n+2) .portrait {
      float: left;
    }
    .featured-posts > li:nth-child(3n+2) header + .portrait + .text {
      float: left;
      padding-right: 0;
      padding-left: 3em;
    }

    /* Text on the LEFT */
    .featured-posts > li:nth-child(4n+3) .with-one-portrait header:nth-last-child(3) {
      width: 50%;
      left: 0;
      right: auto;
    }
    .featured-posts > li:nth-child(4n+3) .portrait {
      float: right;
    }
    .featured-posts > li:nth-child(4n+3) header + .portrait + .text {
      float: right;
      padding-right: 3em;
      padding-left: 0;
    }
  }

  /* OPTIONAL: Center the items vertically, in browsers that support flexbox */
  @media screen and (min-width: 60em) {
    .featured-post-item {
      display: -webkit-flex;
      display:         flex;

      -webkit-flex-direction: row;
              flex-direction: row;

      -webkit-align-items: center;
              align-items: center;

      -webkit-align-content: center;
              align-content: center;

      -webkit-justify-content: center;
              justify-content: center;

      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
    }
    .featured-posts > li:nth-child(2n+1) .featured-post-item {
      -webkit-flex-direction: row-reverse;
              flex-direction: row-reverse;
    }
    .featured-posts > li:nth-child(3n+2) .featured-post-item {
      -webkit-flex-direction: row;
              flex-direction: row;
    }
    .featured-posts > li:nth-child(4n+3) .featured-post-item {
      -webkit-flex-direction: row-reverse;
              flex-direction: row-reverse;
    }
  }

