
/*
  Styles for welcome emails sent by the server
*/

  html, body {
    height: 100%;
  }
  .container {
    min-height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    min-height: 100%;
    font: 16px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgb(238, 238, 238); /* @seashell */
    box-sizing: border-box;

    color: rgb(102, 102, 102); /* @tin */
  }
  @media (min-width: 600px) {
    .container {
      padding: 20px 0 60px !important;
    }
  }

  h1, h2, a {
    color: rgb(31, 31, 31); /* @steel */
  }
  a {
    transition: opacity 0.2s, color 0.2s, background-color 0.2s;
  }
  a:hover,
  a:active,
  a:focus {
    color: rgb(193, 16, 65); /* @raspberry */
  }

  a img {
    border-width: 0;
  }

  .ctzn {
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    background: rgb(135, 135, 135);
    color: white;
    padding: 0 6px;
    font-size: 10px;
    display: inline-block;
  }

  /* Intro */
  .intro {
    max-width: 520px; /* 580px - (30px x 2) */
    margin: 0 auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background: white;
    color: rgb(31, 31, 31); /* @steel */
  }
  .intro div {
    border: 1px solid rgb(238, 238, 238); /* @seashell */
    padding: 20px;
    position: relative;
  }
  .intro h2,
  .intro .name {
    display: inline-block;
  }
  .intro h2 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 5px;
  }
  .intro .avatar {
    margin-right: 10px;
    float: left;
  }
  .intro .name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: rgb(153, 153, 153); /* @nickel */
  }
  .intro .about {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 0;
    color: rgb(102, 102, 102); /* @tin */
    font-size: 14px;
  }
  .intro .action {
    clear: both;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .intro .action a {
    display: block;
    text-align: center;
  }


  /* Containers */
  .headline,
  .message,
  .steps,
  .ready,
  .tip,
  .download,
  .feedback,
  .footer {
    margin-left: auto;
    margin-right: auto;
  }
  .footer,
  .steps,
  .ready {
    max-width: 580px;
  }
  .headline,
  .message,
  .tip,
  .download,
  .feedback {
    max-width: 520px; /* 580px - (30px x 2) */
  }
  .headline,
  .message,
  .steps,
  .tip,
  .download,
  .feedback {
    background-color: white;
  }
  .tip,
  .download {
    margin-top: 10px;
  }
  .headline {
    margin-top: 10px;
    padding: 25px 30px;
  }
  .headline.first {
    margin-top: 0;
  }
  .headline.first h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .message {
    max-width: 520px; /* 580px - (30px x 2) */
    padding: 15px 30px;
  }
  .download {
    padding: 20px 30px;
  }
  .tip,
  .feedback {
    padding: 10px 30px;
  }
  .message.first {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .message,
  .steps {
    margin-top: 1px;
  }
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Footer */
  .footer {
    text-align: center;
  }
  .footer h2 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .footer .unsubscribe {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .mute {
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
  }

  @media (min-width: 600px) {
    .footer h2 {
      float: left;
    }
    .footer .unsubscribe {
      margin-bottom: 0 !important;
      line-height: 30px;
      float: right;
    }
  }

  /* Headlines */
  .headline h1,
  .headline h2 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: rgb(102, 102, 102); /* @tin */
  }
  .headline h1 b,
  .headline h2 b {
    color: black;
  }
  .headline p {
    margin-bottom: 0;
  }

  /* Steps */
  .steps ol {
    margin: 0;
    padding: 30px 0 30px 60px;
    font-size: 28px;
    font-weight: bold;
  }
  .steps li {
    padding-right: 20px;
  }
  .steps div {
    font-size: 16px;
    font-weight: normal;
  }
  .steps   b,
  .message b {
    color: black;
  }
  .steps .not-first {
    border-top: 1px solid rgb(238, 238, 238); /* @seashell */
    margin-top: 30px;
    padding-top: 30px;
    position: relative;
  }
  .steps .not-first:before {
    content: "";
    border-top: 1px solid rgb(238, 238, 238); /* @seashell */
    position: absolute;
    top: -1px;
    left: -60px;
    width: calc(100% + 60px);
    height: 1px;
  }
  .intro .icon,
  .steps .icon {
    display: inline-block;
    border: 3px solid rgb(238, 238, 238); /* @seashell */
    padding: 9px;
    border-radius: 10px;
  }
  .intro .icon {
    background: white;
    border-color: white;
  }
  .steps .icon {
    margin-bottom: 20px;
    float: right;
    margin-top: -10px;
    margin-left: 20px;
  }
  .steps .icon img {
    display: block;
  }
  .steps .icons {
    margin-top: 20px;
  }
  .steps .icons img,
  .steps .icons svg {
    margin-right: 25px;
  }


  /* =Icon
  ----------------------------------------------- */
  svg.icon {
    vertical-align: middle;
    margin-right: 5px;
    fill: currentColor;
  }

  /* Steps */
  .icon  svg,
  .icons svg {
    width : 35px;
    height: 35px;
    vertical-align: middle;
    fill: currentColor;
  }
  .icons svg {
    width : 25px;
    height: 25px;
  }


  /* =Avatars
  ----------------------------------------------- */
  .avatar img {
    border-radius: 100%;
    vertical-align: middle;

    /* OPTIONAL: Show something while the image is loading (or if it fails to load). */
    background-color: rgba(0, 0, 0, 0.25);
  }

  .avatar > span {
    display: inline-block;
    color: black;
    width       : 1.25em; /* 20px / 16px */
    line-height : 1.25em;
    vertical-align: middle;
  }
  .avatar .letter {
    display: block;
    speak: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em; /* 16px / 20px */
    font-style: normal;
    font-weight: bold;
  }


  /* =Member Avatars
  ----------------------------------------------- */
  .avatar .size30 {
    font-size: 1.5em; /* 30px / 20px */
    border-radius: 100%;
  }
  .avatar .size60 {
    font-size: 48px; /* 60 / 1.25 */
    border-radius: 100%;
  }

  .avatar .clover {
    background-color: rgb(0, 235, 98); /* @clover */
  }
  .avatar .kiwi {
    background-color: rgb(0, 255, 208); /* @kiwi */
  }
  .avatar .grape {
    background-color: rgb(159, 104, 246); /* @grape */
  }
  .avatar .bluebird {
    background-color: rgb(0, 206, 250); /* @bluebird */
  }
  .avatar .cantaloupe {
    background-color: rgb(255, 203, 117); /* @cantaloupe */
  }
  .avatar .cranberry {
    background-color: rgb(251, 59, 147); /* @cranberry */
  }
  .avatar .amethyst {
    background-color: rgb(255, 152, 248); /* @amethyst */
  }
  .avatar .sky {
    background-color: rgb(0, 255, 254); /* @sky */
  }
  .avatar .ocean {
    background-color: rgb(24, 57, 245); /* @ocean */
    color: white;
  }


  /* =Push Avatars
  ----------------------------------------------- */
  .avatar .lime {
    background-color: rgb(218, 243, 121); /* @lime */
    color: white;
  }
  .avatar .cucumber {
    background-color: rgb(153, 248, 115); /* @cucumber */
    color: white;
  }
  .avatar .blueberry {
    background-color: rgb(40, 221, 181); /* @blueberry */
    color: white;
  }
  .avatar .boysenberry {
    background-color: rgb(101, 152, 254); /* @boysenberry */
    color: white;
  }
  .avatar .plumb {
    background-color: rgb(193, 76, 172); /* @plumb */
    color: white;
  }
  .avatar .strawberry {
    background-color: rgb(250, 56, 136); /* @strawberry */
    color: white;
  }
  .avatar .apple {
    background-color: rgb(255, 49, 59); /* @apple */
    color: white;
  }
  .avatar .tangerine {
    background-color: rgb(255, 204, 0); /* @tangerine */
    color: white;
  }
  .avatar .orange {
    background-color: rgb(250, 134, 40); /* @orange */
    color: white;
  }

  /* OPTIONAL: Give push avatars a square shape */
  .avatar .lime,
  .avatar .cucumber,
  .avatar .blueberry,
  .avatar .boysenberry,
  .avatar .plumb,
  .avatar .strawberry,
  .avatar .apple,
  .avatar .tangerine,
  .avatar .orange {
    border-radius: 0;
  }

  .avatar span svg,
  .avatar span img {
    opacity: 0.5;
    vertical-align: top;
  }


  /* =Headline Colors
  ----------------------------------------------- */
  .headline.first.lime {
    border-top: 10px solid rgb(218, 243, 121); /* @lime */
  }
  .headline.first.cucumber {
    border-top: 10px solid rgb(153, 248, 115); /* @cucumber */
  }
  .headline.first.blueberry {
    border-top: 10px solid rgb(40, 221, 181); /* @blueberry */
  }
  .headline.first.boysenberry {
    border-top: 10px solid rgb(101, 152, 254); /* @boysenberry */
  }
  .headline.first.plumb {
    border-top: 10px solid rgb(193, 76, 172); /* @plumb */
  }
  .headline.first.strawberry {
    border-top: 10px solid rgb(250, 56, 136); /* @strawberry */
  }
  .headline.first.apple {
    border-top: 10px solid rgb(255, 49, 59); /* @apple */
  }
  .headline.first.tangerine {
    border-top: 10px solid rgb(255, 204, 0); /* @tangerine */
  }
  .headline.first.orange {
    border-top: 10px solid rgb(250, 134, 40); /* @orange */
  }


  /* =Members
  ----------------------------------------------- */
  .members ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
  }
  .members li {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 580px; /* 580px - (30px x 2) */
    margin-top: 1px;
  }
  .members li a {
    text-decoration: none;
  }
  .members li > a {
    display: block;
    padding: 20px 30px;
  }
  .members li .avatar,
  .members li a b {
    margin-right: 5px;
  }
  .members li h3 {
    font-size: inherit;
    margin: 0;
  }
  .members .also h3,
  .members li .about,
  .members li .role,
  .members li .joined {
    color: rgb(102, 102, 102); /* @tin */
  }
  .members li .name {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    color: rgb(153, 153, 153); /* @nickel */
  }
  .members li .also {
    display: block;
    color: black;
    padding: 20px 30px;
    font-size: 12px;
  }
  .members li .also h3 {
    margin-bottom: 10px;
  }
  .members li p {
    padding-left: 42px;
  }
  .members li p.about {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
  }

  .members .also h3,
  .members .role,
  .members .joined {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0;
    font-weight: inherit;
  }
  .members .role {
    float: left;
    margin-right: 3px;
  }
  .members .role:after {
    content: " – ";
  }


  /* =Action
  ----------------------------------------------- */
  .action a {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    display: inline-block;
    padding: 7px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(250, 56, 136); /* @strawberry */
    color: white;
  }
  .action a:hover,
  .action a:active,
  .action a:focus {
    background-color: rgb(193, 16, 65); /* @raspberry */
  }


  /* =Ready
  ----------------------------------------------- */
  .ready ul,
  .ready li {
    list-style: none;
    margin-left: 0;
  }
  .ready ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-weight: bold;
  }
  /*
  .ready li,
  .feedback {
    margin-top: 1px;
  }
  */
  .ready a {
    color: white;
  }
  .ready li a {
    text-decoration: none;
    padding: 20px 30px;
    display: block;
    text-align: center;
  }
  .ready .icon {
    display: block;
    margin-bottom: 20px;
  }
  .ready .icon img {
    vertical-align: top;
  }

  @media (min-width: 300px) {
    .ready li a {
      text-align: left !important;
    }
    .ready .icon {
      width: 120px;
      padding-right: 30px;
      float: left;
      text-align: center;
      margin-bottom: 0 !important;
    }

    /* OPTIONAL: Center the text vertically */
    .ready li a {
      display: -webkit-flex !important;
      display:         flex !important;

      -webkit-flex-direction: row;
              flex-direction: row;

      -webkit-align-items: center;
              align-items: center;
    }
    .ready .icon {
      -webkit-flex: none;
              flex: none;
    }
  }


  .ready-headline,
  .ready li,
  .download,
  .feedback {
    background-color: rgb(51, 51, 51); /* @iron */
    position: relative;
    z-index: 1;
  }
  .feedback {
    background-color: rgb(31, 31, 31); /* @steel */
  }
  .ready-headline::after,
  .ready li::after,
  .download::after,
  .feedback::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .ready-headline::after,
  .download::after,
  .ready li::after {
    opacity: 0.9;
  }
  .ready li::after {
    opacity: 0.85;
  }
  .feedback::after {
    opacity: 0.8;
  }
  .ready-headline.lime::after,
  .ready.lime li::after,
  .download.lime::after,
  .feedback.lime::after {
    background-color: rgb(218, 243, 121); /* @lime */
  }
  .ready-headline.cucumber::after,
  .ready.cucumber li::after,
  .download.cucumber::after,
  .feedback.cucumber::after {
    background-color: rgb(153, 248, 115); /* @cucumber */
  }
  .ready-headline.blueberry::after,
  .ready.blueberry li::after,
  .download.blueberry::after,
  .feedback.blueberry::after {
    background-color: rgb(40, 221, 181); /* @blueberry */
  }
  .ready-headline.boysenberry::after,
  .ready.boysenberry li::after,
  .download.boysenberry::after,
  .feedback.boysenberry::after {
    background-color: rgb(101, 152, 254); /* @boysenberry */
  }
  .ready-headline.plumb::after,
  .ready.plumb li::after,
  .download.plumb::after,
  .feedback.plumb::after {
    background-color: rgb(193, 76, 172); /* @plumb */
  }
  .ready-headline.strawberry::after,
  .ready.strawberry li::after,
  .download.strawberry::after,
  .feedback.strawberry::after {
    background-color: rgb(250, 56, 136); /* @strawberry */
  }
  .ready-headline.apple::after,
  .ready.apple li::after,
  .download.apple::after,
  .feedback.apple::after {
    background-color: rgb(255, 49, 59); /* @apple */
  }
  .ready-headline.tangerine::after,
  .ready.tangerine li::after,
  .download.tangerine::after,
  .feedback.tangerine::after {
    background-color: rgb(255, 204, 0); /* @tangerine */
  }
  .ready-headline.orange::after,
  .ready.orange li::after,
  .download.orange::after,
  .feedback.orange::after {
    background-color: rgb(250, 134, 40); /* @orange */
  }

  .tip {
    font-size: 14px;
  }
  .tip h2 {
    margin-top: 20px;
    font-size: inherit;
    color: black;
  }
  .tip svg,
  .tip img {
    margin-right: 5px;
  }
  .tip h2,
  .tip p {
    display: inline-block;
  }
  .tip p {
    color: rgb(102, 102, 102); /* @tin */
  }
  .tip svg,
  .tip img {
    color: rgb(204, 204, 204); /* @aluminum */
    vertical-align: middle;
  }
  .download img {
    vertical-align: top;
  }
  .download,
  .feedback {
    border-width: 0;
  }
  .ready-headline h2,
  .download h2 {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }
  .download h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    font-size: 24px;
    line-height: 35px;
  }
  .download h2,
  .download p {
    display: inline-block;
    vertical-align: middle;
  }
  .download p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .download p img {
    margin: 5px;
  }
  .feedback {
    font-size: 14px;
    color: white;
  }
  .feedback a {
    color: black;
  }

