
/*
  Monotype fonts…

  Regular:
  "Proxima N W01 Reg"

  Italic:
  "Proxima N W01 Reg It"

  Bold:
  "Proxima N W01 Bold"

  Extra bold:
  "Proxima N W01 Xbold"
*/


  /* =Elements
  ----------------------------------------------- */
  html, body {
    height: 100%;
  }
  body {
    font: 100%/1.5 "Proxima N W01 Reg", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @regular */
    padding: 0;
    margin: 0;
    width: 100%;
  }
  i, em {
    font-family: "Proxima N W01 Reg It", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @italic */
    font-style: inherit;
  }
  b, strong, h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima N W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @bold */
    font-weight: inherit;
  }

  a {
    color: inherit;
    font-family: "Proxima N W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @bold */
    text-decoration: none;
  }
  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
    height: auto;
  }


  /* =Type
  ----------------------------------------------- */
  h1, h2, h3, h4, h5, h6 {
    margin-top    : 1.5em;  /* @line-height */
    margin-bottom : 0.75em; /* @line-height / 2 */
  }
  p, ol, ul, dl {
    margin-top    : 0.75em; /* @line-height / 2 */
    margin-bottom : 0.75em;
  }

  h1 {
    font-size     : 3em;       /* 48px / @font-size */
    line-height   : 1.25em;    /* 60px / 48px */
    margin-top    : 1.25em;
    margin-bottom : 0.625em;   /* 1.25em / 2 */
  }
  h2 {
    font-size     : 1.875em;   /* 30px / @font-size */
    line-height   : 1.2em;     /* 36px / 30px  */
    margin-top    : 1.2em;
    margin-bottom : 0.6em;     /* 1.2em / 2 */
  }
  h3 {
    font-size     : 1.5em;     /* 24px / @font-size */
  }
  h4, h5, h6 {
    font-size: inherit;
  }


  /* =Containers
  ----------------------------------------------- */
  body {
    display: table;
  }
  header,
  section,
  footer,
  main {
    display: table-row;
  }
  .container {
    display: table-cell;
    vertical-align: middle;
  }
  header  .container,
  section .container,
  footer  .container {
    height: 1px;
  }

  header .container,
  footer .about,
  footer .legal {
    padding: 0.75em;
    background: rgb(51, 51, 51);
    color: white;
    text-align: center;
  }
  main .container {
    padding: 3em 1.5em 6em;
  }
  footer .about {
    background: black;
  }


  /* =Header / Footer
  ----------------------------------------------- */
  header h2 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;

    /* @hidden-accessible-text */
    text-indent: -9999px;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: center;

    /* Data URI encoded from ctzn-white.svg */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MHB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxMDAgMzgiPgogIDxwYXRoIGZpbGw9IndoaXRlIiBkPSJNOC43NzYsMzYuNzAyYy0xLjc4OS0wLjc0NC0zLjMzOC0xLjc3OS00LjY0NC0zLjEwNlMxLjgxLDMwLjY2LDEuMDg2LDI4Ljc3QzAuMzYyLDI2Ljg4LDAsMjQuNzg5LDAsMjIuNDk4CiAgICBjMC0yLjI5MiwwLjM2Mi00LjM3MywxLjA4Ni02LjI0M2MwLjcyNC0xLjg3LDEuNzM5LTMuNDc4LDMuMDQ2LTQuODI1czIuODU1LTIuMzgyLDQuNjQ0LTMuMTA2YzEuNzg5LTAuNzI0LDMuNzUtMS4wODYsNS44ODEtMS4wODYKICAgIGMyLjU3MywwLDQuNzM1LDAuNDMyLDYuNDg0LDEuMjk3YzEuNzQ5LDAuODY0LDMuMDI2LDEuNzU5LDMuODMsMi42ODRsLTQuNzY1LDcuMDU3Yy0wLjUyMy0wLjYwMy0xLjEzNi0xLjA5Ni0xLjg0LTEuNDc4CiAgICBjLTAuNzA0LTAuMzgyLTEuNTE4LTAuNTczLTIuNDQzLTAuNTczYy0xLjUyOCwwLTIuODI1LDAuNTQzLTMuODksMS42MjljLTEuMDY2LDEuMDg2LTEuNTk4LDIuNjM0LTEuNTk4LDQuNjQ0CiAgICBjMCwyLjAxLDAuNTMzLDMuNTY5LDEuNTk4LDQuNjc0YzEuMDY2LDEuMTA2LDIuMzYyLDEuNjU5LDMuODksMS42NTljMC45MjUsMCwxLjczOS0wLjIwMSwyLjQ0My0wLjYwMwogICAgYzAuNzA0LTAuNDAyLDEuMzE3LTAuOTA1LDEuODQtMS41MDhsNC43NjUsNy4xMTdjLTAuODA0LDAuOTI1LTIuMDgxLDEuODE5LTMuODMsMi42ODRjLTEuNzQ5LDAuODY0LTMuOTEsMS4yOTctNi40ODQsMS4yOTcKICAgIEMxMi41MjUsMzcuODE4LDEwLjU2NSwzNy40NDYsOC43NzYsMzYuNzAyeiIvPgogIDxwYXRoIGZpbGw9IndoaXRlIiBkPSJNMzEuNjA0LDM1LjYxNmMtMS40NDgtMS40NjgtMi4xNzEtMy42ODktMi4xNzEtNi42NjVWMTYuNzY4aC0zLjY3OVY3Ljk2MmgzLjY3OVYwaDEwLjE5M3Y3Ljk2Mmg0LjU4NAogICAgdjguODA2aC00LjU4NHY5LjU5YzAsMC43NjQsMC4xNjEsMS4zNjcsMC40ODIsMS44MDlzMC43ODQsMC42NjMsMS4zODcsMC42NjNjMC4zNjIsMCwwLjcxNC0wLjA1LDEuMDU2LTAuMTUxCiAgICBjMC4zNDItMC4xMDEsMC41NzMtMC4yMzEsMC42OTQtMC4zOTJsMS42ODksNy45NjJjLTAuNTYzLDAuNDQyLTEuMzk3LDAuODE0LTIuNTAzLDEuMTE2Yy0xLjEwNiwwLjMwMi0yLjQyMywwLjQ1Mi0zLjk1MSwwLjQ1MgogICAgQzM1LjM0NCwzNy44MTgsMzMuMDUyLDM3LjA4NCwzMS42MDQsMzUuNjE2eiIvPgogIDxwYXRoIGZpbGw9IndoaXRlIiBkPSJNNDcuMzQ2LDI5LjYxNWw5LjQ2OS0xMi44NDdoLTkuNDY5VjcuOTYyaDIyLjU1OHY3LjE3N2wtOS41OSwxMy4xNDloOS44MzF2OC44MDZINDcuMzQ2VjI5LjYxNXoiLz4KICA8cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTg5LjgwNywxOS40ODJjMC0xLjE2Ni0wLjI2MS0yLTAuNzg0LTIuNTAzYy0wLjUyMy0wLjUwMy0xLjI2Ny0wLjc1NC0yLjIzMi0wLjc1NAogICAgcy0xLjc1OSwwLjI4Mi0yLjM4MywwLjg0NGMtMC42MjMsMC41NjMtMS4xMTYsMS4xMjYtMS40NzgsMS42ODl2MTguMzM2SDcyLjc5OFY3Ljk2MmgxMC4xMzN2My4zNzgKICAgIGMwLjcyNC0xLjAwNSwxLjg2LTEuOTQsMy40MDgtMi44MDVjMS41NDgtMC44NjUsMy4zMjctMS4yOTcsNS4zMzgtMS4yOTdjMi45MzUsMCw1LjA1NiwwLjc3NCw2LjM2MywyLjMyMgogICAgYzEuMzA3LDEuNTQ4LDEuOTYsMy40NjgsMS45Niw1Ljc2djIxLjc3NEg4OS44MDdWMTkuNDgyeiIvPgo8L3N2Zz4K);
  }
  footer .about {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    padding: 1.5em;
    color: rgb(153, 153, 153);
  }
  footer .about a {
    display: inline-block;
    width: 40px;
    height: 20px;

    /* @hidden-accessible-text */
    text-indent: -9999px;
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    /* Data URI encoded from good.svg */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTEycHgiIGhlaWdodD0iNTUuNzk1cHgiIHZpZXdCb3g9IjAgMCAxMTIgNTUuNzk1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMTIgNTUuNzk1IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xMDQuMTk4LDQ0LjEzOGMwLDIuMTQyLTEuNzQ4LDMuODg1LTMuOTAxLDMuODg1aC0zLjkwMVY3Ljc2NWgzLjkwMWMyLjE1MywwLDMuOTAxLDEuNzQzLDMuOTAxLDMuODgzDQoJVjQ0LjEzOHogTTEwMC4yOTcsMEg4OS4zMDVjLTAuMzkyLDAtMC43MDksMC4zMTMtMC43MDksMC43MDV2NTQuMzhjMCwwLjM5NCwwLjMxNywwLjcxLDAuNzA5LDAuNzFoMTAuOTkyDQoJQzEwNi43NSw1NS43OTQsMTEyLDUwLjU2LDExMiw0NC4xMzh2LTMyLjQ5QzExMiw1LjIyNSwxMDYuNzUsMCwxMDAuMjk3LDB6IE03NC42NjgsNDQuMTM4YzAsMi4xNDItMS43NSwzLjg4NS0zLjkwMSwzLjg4NQ0KCXMtMy45MDQtMS43NDMtMy45MDQtMy44ODV2LTMyLjQ5YzAtMi4xMzksMS43NTMtMy44ODMsMy45MDQtMy44ODNzMy45MDEsMS43NDMsMy45MDEsMy44ODNWNDQuMTM4eiBNNzAuNzY3LDANCgljLTYuNDUzLDAtMTEuNzAyLDUuMjI1LTExLjcwMiwxMS42NDh2MzIuNDljMCw2LjQyMSw1LjI0OCwxMS42NTYsMTEuNzAyLDExLjY1NmM2LjQ1MywwLDExLjcwMS01LjIzNCwxMS43MDEtMTEuNjU2di0zMi40OQ0KCUM4Mi40NjcsNS4yMjUsNzcuMjIsMCw3MC43NjcsMHogTTExLjcwMSwwQzUuMjUsMCwwLDUuMjI1LDAsMTEuNjQ4djMyLjQ5YzAsNi40MjEsNS4yNSwxMS42NTYsMTEuNzAxLDExLjY1Ng0KCWMyLjc0NSwwLDUuMjYyLTAuOTU1LDcuMjYtMi41MzJsMC44OTcsMi41MzJoMi44MzVjMC4zOTIsMCwwLjcwOS0wLjMxNiwwLjcwOS0wLjcxVjIzLjMwNWMwLTAuMzkxLTAuMzE3LTAuNzA1LTAuNzA5LTAuNzA1SDEyLjA1OA0KCWMtMC4zOTQsMC0wLjcxMiwwLjMxMy0wLjcxMiwwLjcwNXY2LjM1NGMwLDAuMzk0LDAuMzE4LDAuNzA3LDAuNzEyLDAuNzA3aDMuNTQ0djEzLjc3M2MwLDIuMTQyLTEuNzUsMy44ODUtMy45MDEsMy44ODUNCglTNy44LDQ2LjI4MSw3LjgsNDQuMTM5di0zMi40OWMwLTIuMTM5LDEuNzUtMy44ODMsMy45MDEtMy44ODNzMy45MDEsMS43NDMsMy45MDEsMy44ODN2Mi40NzVjMCwwLjM4NywwLjMxOCwwLjcwNSwwLjcxMiwwLjcwNQ0KCWg2LjM3OWMwLjM5MiwwLDAuNzA5LTAuMzE4LDAuNzA5LTAuNzA1di0yLjQ3NUMyMy40MDIsNS4yMjUsMTguMTU1LDAsMTEuNzAxLDB6IE00NS4xMzUsNDQuMTM4YzAsMi4xNDItMS43NTIsMy44ODUtMy45MDEsMy44ODUNCgljLTIuMTUxLDAtMy45MDEtMS43NDMtMy45MDEtMy44ODV2LTMyLjQ5YzAtMi4xMzksMS43NS0zLjg4MywzLjkwMS0zLjg4M2MyLjE0OSwwLDMuOTAxLDEuNzQzLDMuOTAxLDMuODgzVjQ0LjEzOHogTTQxLjIzNCwwDQoJQzM0Ljc4MSwwLDI5LjUzLDUuMjI1LDI5LjUzLDExLjY0OHYzMi40OWMwLDYuNDIxLDUuMjUsMTEuNjU2LDExLjcwMywxMS42NTZzMTEuNzAxLTUuMjM0LDExLjcwMS0xMS42NTZ2LTMyLjQ5DQoJQzUyLjkzNSw1LjIyNSw0Ny42ODcsMCw0MS4yMzQsMHoiLz4NCjwvc3ZnPg0K);
  }
  footer .legal {
    margin: 0;
    color: rgb(102, 102, 102);
    font-size: 0.75em;
    line-height: 2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }


  /* =Main
  ----------------------------------------------- */
  main {
    background-color: rgb(203, 253, 128); /* @lime */
    color: black;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    transition: background-color 0.2s;
  }
  main h1.logo {
    /* @hidden-accessible-text */
    text-indent: -9999px;
    overflow: hidden;
    width: 280px;
    height: 110px;

    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin: 0 auto;

    /* Data URI encoded from ctzn-black.svg */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMzcuODE4cHgiIHZpZXdCb3g9IjAgMCAxMDAgMzcuODE4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMDAgMzcuODE4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGQ9Ik04Ljc3NiwzNi43MDJjLTEuNzg5LTAuNzQ0LTMuMzM4LTEuNzc5LTQuNjQ0LTMuMTA2UzEuODEsMzAuNjYsMS4wODYsMjguNzdDMC4zNjIsMjYuODgsMCwyNC43ODksMCwyMi40OTgNCgkJYzAtMi4yOTIsMC4zNjItNC4zNzMsMS4wODYtNi4yNDNjMC43MjQtMS44NywxLjczOS0zLjQ3OCwzLjA0Ni00LjgyNXMyLjg1NS0yLjM4Miw0LjY0NC0zLjEwNmMxLjc4OS0wLjcyNCwzLjc1LTEuMDg2LDUuODgxLTEuMDg2DQoJCWMyLjU3MywwLDQuNzM1LDAuNDMyLDYuNDg0LDEuMjk3YzEuNzQ5LDAuODY0LDMuMDI2LDEuNzU5LDMuODMsMi42ODRsLTQuNzY1LDcuMDU3Yy0wLjUyMy0wLjYwMy0xLjEzNi0xLjA5Ni0xLjg0LTEuNDc4DQoJCWMtMC43MDQtMC4zODItMS41MTgtMC41NzMtMi40NDMtMC41NzNjLTEuNTI4LDAtMi44MjUsMC41NDMtMy44OSwxLjYyOWMtMS4wNjYsMS4wODYtMS41OTgsMi42MzQtMS41OTgsNC42NDQNCgkJYzAsMi4wMSwwLjUzMywzLjU2OSwxLjU5OCw0LjY3NGMxLjA2NiwxLjEwNiwyLjM2MiwxLjY1OSwzLjg5LDEuNjU5YzAuOTI1LDAsMS43MzktMC4yMDEsMi40NDMtMC42MDMNCgkJYzAuNzA0LTAuNDAyLDEuMzE3LTAuOTA1LDEuODQtMS41MDhsNC43NjUsNy4xMTdjLTAuODA0LDAuOTI1LTIuMDgxLDEuODE5LTMuODMsMi42ODRjLTEuNzQ5LDAuODY0LTMuOTEsMS4yOTctNi40ODQsMS4yOTcNCgkJQzEyLjUyNSwzNy44MTgsMTAuNTY1LDM3LjQ0Niw4Ljc3NiwzNi43MDJ6Ii8+DQoJPHBhdGggZD0iTTMxLjYwNCwzNS42MTZjLTEuNDQ4LTEuNDY4LTIuMTcxLTMuNjg5LTIuMTcxLTYuNjY1VjE2Ljc2OGgtMy42NzlWNy45NjJoMy42NzlWMGgxMC4xOTN2Ny45NjJoNC41ODQNCgkJdjguODA2aC00LjU4NHY5LjU5YzAsMC43NjQsMC4xNjEsMS4zNjcsMC40ODIsMS44MDlzMC43ODQsMC42NjMsMS4zODcsMC42NjNjMC4zNjIsMCwwLjcxNC0wLjA1LDEuMDU2LTAuMTUxDQoJCWMwLjM0Mi0wLjEwMSwwLjU3My0wLjIzMSwwLjY5NC0wLjM5MmwxLjY4OSw3Ljk2MmMtMC41NjMsMC40NDItMS4zOTcsMC44MTQtMi41MDMsMS4xMTZjLTEuMTA2LDAuMzAyLTIuNDIzLDAuNDUyLTMuOTUxLDAuNDUyDQoJCUMzNS4zNDQsMzcuODE4LDMzLjA1MiwzNy4wODQsMzEuNjA0LDM1LjYxNnoiLz4NCgk8cGF0aCBkPSJNNDcuMzQ2LDI5LjYxNWw5LjQ2OS0xMi44NDdoLTkuNDY5VjcuOTYyaDIyLjU1OHY3LjE3N2wtOS41OSwxMy4xNDloOS44MzF2OC44MDZINDcuMzQ2VjI5LjYxNXoiLz4NCgk8cGF0aCBkPSJNODkuODA3LDE5LjQ4MmMwLTEuMTY2LTAuMjYxLTItMC43ODQtMi41MDNjLTAuNTIzLTAuNTAzLTEuMjY3LTAuNzU0LTIuMjMyLTAuNzU0DQoJCXMtMS43NTksMC4yODItMi4zODMsMC44NDRjLTAuNjIzLDAuNTYzLTEuMTE2LDEuMTI2LTEuNDc4LDEuNjg5djE4LjMzNkg3Mi43OThWNy45NjJoMTAuMTMzdjMuMzc4DQoJCWMwLjcyNC0xLjAwNSwxLjg2LTEuOTQsMy40MDgtMi44MDVjMS41NDgtMC44NjUsMy4zMjctMS4yOTcsNS4zMzgtMS4yOTdjMi45MzUsMCw1LjA1NiwwLjc3NCw2LjM2MywyLjMyMg0KCQljMS4zMDcsMS41NDgsMS45NiwzLjQ2OCwxLjk2LDUuNzZ2MjEuNzc0SDg5LjgwN1YxOS40ODJ6Ii8+DQo8L2c+DQo8L3N2Zz4NCg==);
  }
  main h2 {
    font-size: 1.5em;
    font-family: "Proxima N W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @bold */
  }
  main .logo + h2 {
    max-width: 17em;
    margin-left: auto;
    margin-right: auto;
  }
  main h2 strong {
    color: white;
  }

  main.lime {
    background-color: rgb(203, 253, 128); /* @lime */
  }
  main.cucumber {
    background-color: rgb(150, 254, 166); /* @cucumber */
  }
  main.blueberry {
    background-color: rgb(99, 204, 203); /* @blueberry */
  }
  main.boysenberry {
    background-color: rgb(101, 156, 247); /* @boysenberry */
  }
  main.plumb {
    background-color: rgb(193, 77, 166); /* @plumb */
  }
  main.strawberry {
    background-color: rgb(255, 49, 102); /* @strawberry */
  }
  main.apple {
    background-color: rgb(255, 49, 59); /* @apple */
  }
  main.tangerine {
    background-color: rgb(255, 202, 72); /* @tangerine */
  }
  main.orange {
    background-color: rgb(242, 64, 41); /* @orange */
  }

  main a {
    color: black;
  }
  main p {
    margin: 1.5em 0 0;
  }


  /* =Buttons
  ----------------------------------------------- */
  button {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-width: 0;
    font-size: inherit;
    font-family: "Proxima N W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @bold */
    padding: 0.375em 1.125em;
    line-height: 1.5em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    text-transform: lowercase;
  }
  button:hover,
  button:active,
  button:focus {
    background-color: black;
    color: white;
  }


  /* =Forms
  ----------------------------------------------- */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.375em 0.75em;
    line-height: 1.5;
    box-sizing: border-box;
    border-width: 0;
    display: inline-block;
    border-width: 0;
  }

  form p {
    position: relative;
    font-size: 1.25em;
  }
  @media (min-width: 40em) {
    form p {
      display: inline;
      margin: 0 0.125em;
    }
  }
  label {
    background: transparent;
    border-width: 0;
    padding: 0;
    margin: 0;
    display: inline;
  }

  ::-webkit-input-placeholder {
    text-transform: lowercase;
  }
  ::-moz-placeholder {
    text-transform: lowercase;
  }
  :-ms-input-placeholder {
    text-transform: lowercase;
  }

  .supports-placeholder label > span:first-child {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }
  .supports-placeholder label br {
    display: none;
  }


  /* =Message
  ----------------------------------------------- */
  section.message .container {
    padding: 1.5em;
    font-size: 1.5em;
    text-align: center;
    background: black;
    color: white;
    overflow: hidden;
    transition: height 0.6s, padding 0.6s, color 0.2s;
  }
  section.message h1 {
    font-size: inherit;
  }
  section.message h1,
  section.message p {
    display: inline;
  }
  section.message p:before {
    content: " – ";
  }

